@charset "utf-8";

/*==============================================================

	Name:style.css
	Version:1.0.0

==============================================================*/

/*==============================================================
	Common Styles Initials
==============================================================*/
html {
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="submit"] {
	-webkit-appearance: none;
}
*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	min-height: 100%;
	color: #131e22;
	width: 100%;
	height: 100%;
	background: #eff5f7;
}
a {
	outline: none;
	text-decoration: none;
	color: #555;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
img {
	border: 0;
}
input, textarea, select {
	outline: none;
	resize: none;
	font-family: 'Work Sans', sans-serif;
}
a, input, button {
	outline: none !important;
}
 button::-moz-focus-inner {
 border: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #131e22;
	font-family: 'Work Sans', sans-serif;
}
img {
	border: 0;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0 0 15px 0;
	padding: 0;
}
.slick-slide{
	outline: none !important;
}
.container{
	max-width: 1120px;
	width: 100%;
}
/*==============================================================
	Global Styles Start
==============================================================*/
.pre-loader{
	background: url(../images/new-loader.gif) no-repeat #fffef2;
	background-position: center center;
	background-size: 13%;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 12345;
}

.mx-w-150{max-width: 150px;}
.mx-h-300{max-height: 300px;}
.mx-h-350{max-height: 350px;}
.mx-h-380{max-height: 380px;}
.mx-h-400{max-height: 400px;}
.mx-h-450{max-height: 450px;}
.pd-0{padding: 0px;}
.padding-top-10{padding-top: 10px;}
.padding-top-30{padding-top: 30px;}
.padding-bottom-30{padding-bottom: 30px;}
.pd-5{padding: 5px;}
.pd-10{padding: 10px;}
.pd-20{padding: 20px;}
.pd-ltr-20{padding: 20px 20px 0;}
.pd-30{padding: 30px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.margin-5{margin: 5px;}
.mt-15{margin-top: 15px;}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}
.mb-15{margin-bottom: 15px;}
.mb-10{margin-bottom: 10px;}
.mb-5{margin-bottom: 5px !important;}
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}

.font-30{font-size: 30px;}
.font-24{font-size: 24px;}
.font-20{font-size: 20px;}
.font-18{font-size: 18px;}
.font-16{font-size: 16px;}
.font-14{font-size: 14px;}
.font-12{font-size: 12px;}

.weight-300{font-weight: 300;}
.weight-400{font-weight: 400;}
.weight-500{font-weight: 500;}
.weight-600{font-weight: 600;}
.weight-700{font-weight: 700;}

.height-auto{height: auto;}
.height-100-p{height: 100%;}
.width-50-p{width: 50%;}

.min-height-200px{min-height: 200px;}

.bg-cover{background-size: cover !important;}
.bg-light-blue{background-color: #def2ff;}
.color-light-blue{color: #def2ff;}
.bg-light-gray{background-color: #eff5f7;}
.bg-white{background: #ffffff;}
.color-white{color: #ffffff;}
.bg-light-green{background-color: #41ccba;}
.text-light-green{color: #41ccba;}
.bg-blue{background-color: #0099ff;}
.text-blue{color: #0099ff;}
.text-light-blue{color: #2976aa;}
.bg-light-orange{background-color: #f56767;}
.text-light-orange{color: #f56767;}
.bg-light-purple{background-color: #a683eb;}
.text-light-purple{color: #a683eb;}
.bg-orange{background-color: #f5956c;}
.text-orange{color: #f5956c;}
.text-yellow{color: #ecc72f;}
.text-green{color: #46be8a;}
.text-orange-50{color: #f2a654;}
.text-blue-50{color: #62a8ea;}
.text-red-50{color: #e14e50;}

.border-radius-0{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.border-radius-4{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.border-radius-5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.border-radius-6{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.border-radius-8{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.border-radius-10{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.border-radius-100{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.box-shadow{
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
}
.dropdown-toggle::after{
	content: "\f107";
	border: 0;
	font-family: "FontAwesome";
	vertical-align: unset;
	width: auto;
	height: auto;
	border: 0 !important;
}
.bootstrap-select .dropdown-toggle::after{
	position: relative;
	right: 5px;
}
.dropdown.show > .dropdown-toggle::after{
	content: "\f106";
}
.dropdown-toggle.no-arrow:after{
	display: none;
}
.dropdown-menu{
	border-color: #cccccc;
	border: 0;
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}
.dropdown-item{
	font-size: 15px;
	font-weight: 400;
	padding: 0.55rem 1rem;
	color: #667f87;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.dropdown-item:hover, .dropdown-item:focus{
	background: #eff5f7;
	color: #667f87;
}
.form-control{
	font-family: 'Work Sans', sans-serif;
	color: #131e22;
	font-weight: 500;
	height: 38px;
	letter-spacing: 0.035em;
}
textarea.form-control{
	height: 180px;
}
.form-control:focus {
	color: #131e22;
	-webkit-box-shadow: 0px 0px 0px 1px #87b1f3;
	-moz-box-shadow: 0px 0px 0px 1px #87b1f3;
	box-shadow: 0px 0px 0px 1px #87b1f3;
}
.form-control.height-auto{height: auto;}
.input-group{
	margin-bottom: 25px;
}
.input-group.custom > .form-control, .input-group.custom > .custom-select{
	width: 100%;
}
.input-group.custom > .form-control:not(:first-child), .input-group.custom > .custom-select:not(:first-child){
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	padding-left: 50px;
}
.input-group.custom > .custom-select:not(:last-child), .input-group.custom > .form-control:not(:last-child){
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	padding-right: 50px;
}
.input-group-prepend.custom{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 12;
	height: 100%;
}
.input-group-append.custom{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 12;
	height: 100%;
}
.input-group-text{
	border: 0;
	background: transparent;
}
.form-control:focus ~ .input-group-append .fa{
	color: #007bff;
}
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-prepend > .input-group-text, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-append > .btn{
	height: 48px;
	font-size: 16px;
}
/* ---------------- form validation class -------------*/
.has-success{
	color: #28a745;
}
.form-control-success{
	border-color: #28a745;
	background-image: url(../images/check-mark-green.png);
	background-repeat: no-repeat;
	background-position: center right 10px;
	background-size: 20px 20px;
}
.form-control-success:focus{
	border-color: #28a745;
	-webkit-box-shadow: 0px 0px 0px 1px #28a745;
	-moz-box-shadow: 0px 0px 0px 1px #28a745;
	box-shadow: 0px 0px 0px 1px #28a745;
}

.has-warning{
	color: #ffc107;
}
.form-control-warning{
	border-color: #ffc107;
	background-image: url(../images/caution-sign.png);
	background-repeat: no-repeat;
	background-position: center right 10px;
	background-size: 20px 20px;
}
.form-control-warning:focus{
	border-color: #ffc107;
	-webkit-box-shadow: 0px 0px 0px 1px #ffc107;
	-moz-box-shadow: 0px 0px 0px 1px #ffc107;
	box-shadow: 0px 0px 0px 1px #ffc107;
}

.has-danger{
	color: #dc3545;
}
.form-control-danger{
	border-color: #dc3545;
	background-image: url(../images/cross.png);
	background-repeat: no-repeat;
	background-position: center right 10px;
	background-size: 14px 14px;
}
.form-control-danger:focus{
	border-color: #dc3545;
	-webkit-box-shadow: 0px 0px 0px 1px #dc3545;
	-moz-box-shadow: 0px 0px 0px 1px #dc3545;
	box-shadow: 0px 0px 0px 1px #dc3545;
}

/* ---------------- form validation class -------------*/

.btn{
	font-family: 'Work Sans', sans-serif;
	letter-spacing: 0.035em;
}
.btn-lg, .btn-group-lg > .btn{
	font-size: 18px;
}
.btn:focus, .btn.focus{
	box-shadow: none !important;
}

.breadcrumb{
	background: none;
	padding: 0.75rem 0;
}
.breadcrumb-item.active{
	color: #131e22;
}
.breadcrumb-item a{
	color: #0099ff;
	font-weight: 500;
}
.breadcrumb-item + .breadcrumb-item::before{
	font-family: "FontAwesome";
	content: "\f105";
}

.customscroll-10-p > .mCustomScrollBox > .mCSB_container{
	padding: 10px;
}

/*-------------------------------- datepicker style ----------------*/
.datepicker{
	z-index: 1060;
}
.datepicker--day-name{color: #0099ff;}
.datepicker--nav-action path{stroke: #0099ff;}
.datepicker--cell.-focus-, .datepicker--nav-title:hover, .datepicker--nav-action:hover{background: #def2ff; color: #0099ff;}
.datepicker--cell.-selected-{color: #ffffff;}
.datepicker--time-current-hours:after, .datepicker--time-current-minutes:after{display: none;}
.datepicker--time-current-hours, .datepicker--time-current-minutes{color: #0099ff;}
.datepicker-inline .datepicker{margin: 0 auto;}

/*---------------- clock picker style -------------------*/
.form-control.time-picker:disabled, .form-control.time-picker[readonly]{background: #ffffff;}
.form-control.time-picker-default:disabled, .form-control.time-picker-default[readonly]{background: #ffffff;}

.custom-control{
	padding-left: 30px;
	cursor: pointer;
}
.custom-control-label{
	cursor: pointer;
}
.custom-control-label::before{
	width: 20px;
	height: 20px;
	top: 2px;
	background-color: transparent;
	border: 2px solid #00bcf2;
}
.custom-control-label::after{
	width: 20px;
	height: 20px;
	background-size: 60%;
	top: 2px;
}
.custom-control-input:focus ~ .custom-control-label::before{
	box-shadow: none;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
	background-color: #00bcf2;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
	background-image: url(../images/check-mark.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
	background-color: #00bcf2;
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{
	border: 2px solid rgba(0, 123, 255, 0);
}

.highcharts-legend-item .highcharts-graph {
	display: none;
}

.select2-container .select2-selection--single{
	height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 36px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #0099ff;
	color: #ffffff;
	border-color: #0099ff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	color: #000;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
	display: block;
}
.bootstrap-select .dropdown-toggle:focus{
	outline: none !important;
}
.bootstrap-select .dropdown-header{
	color: #131e22;
	font-weight: 500;
	font-size: 15px;
}
.dropup .dropdown-toggle::after{
	content: "\f107";
	border: 0;
	font-family: "FontAwesome";
	vertical-align: unset;
	width: auto;
	height: auto;
	border: 0 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a{
	display: block;
	font-size: 15px;
	font-weight: 400;
	padding: 0.55rem 1rem;
	color: #667f87;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bootstrap-select.btn-group .dropdown-menu li.divider{
	border: 1px solid #eaeaea;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a{
	background: #def2ff;
	color: #131e22;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a{
	color: #cecece;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover{
	background: #def2ff;
	color: #131e22;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark{
	background: url(../images/check-mark-green.png);
	width: 15px;
	height: 15px;
	background-size: contain;
}

.label-info{
	background-color: #009efb;
}
.bootstrap-tagsinput .tag{
	display: inline-block;
	padding: 2px 6px;
	margin: 2px;
	font-size: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.docs-options .dropdown-menu{max-height: 250px; overflow: auto;}
.docs-buttons{padding-top: 15px;}
.docs-buttons label{margin-bottom: 0;}
.docs-buttons .btn{margin-bottom: 5px;}

.table th{font-weight: 600;}

.plyr{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .35);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .35);
}
.popover-header{font-weight: 500;}
.list-group-flush .list-group-item{
	border-top: 0;
	margin-bottom: 0;
}
/*==============================================================
	Global Styles End
==============================================================*/

/*==============================================================
	Header Start
==============================================================*/
.header{
	position: fixed;
	height: 70px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 123;
}
.header-right{
	float: right;
	width: calc(100% - 250px);
	background: #ffffff;
	height: 70px;
	/*padding: 10px 20px;*/
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
}
.header-right .brand-logo{
	float: left;
	margin-right: 10px;
	width: 70px;
	display: none;
}
.header-right .brand-logo a{
	padding: 13px 6px 5px;
}
.header-right .menu-icon{
	position: relative;
	right: 0;
	float: left;
	display: none;
}
.user-info-dropdown{
	float: right;
	padding: 10px 20px 10px 0;
}
.user-info-dropdown .dropdown-toggle{
	display: block;
	padding: 10px 0;
	font-size: 16px;
}
.user-info-dropdown .dropdown-toggle .user-icon{
	width: 32px;
	height: 32px;
	border: 1px solid #0288D1;
	color: #0288D1;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.user-info-dropdown .dropdown-toggle .user-name{
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	color: #131e22;
	font-family: 'Work Sans', sans-serif;
}
.user-info-dropdown .dropdown-item{
	position: relative;
	padding-left: 45px;
}
.user-info-dropdown .dropdown-item .fa{
	position: absolute;
	left: 16px;
	top: 11px;
	font-size: 18px;
}

.user-notification{
	float: right;
	margin-right: 30px;
	/*padding-top: 12px;*/
	padding: 22px 20px 10px 0;
}
.user-notification .dropdown-toggle{
	font-size: 20px;
	padding: 10px;
	color: #91a8b0;
	position: relative;
}
.user-notification .dropdown-toggle .badge{
	position: absolute;
	right: 8px;
	top: 10px;
	background: #f5678a;
	width: 5px;
	height: 5px;
	display: block;
	padding: 0;
}
.user-notification .dropdown-menu{
	width: 340px;
}
.notification-list{}
.notification-list ul li{
}
.notification-list ul li:nth-child(2n){
	background: #eff5f7;
}
.notification-list ul li a{
	display: block;
	position: relative;
	padding: 10px 15px 10px 75px;
	min-height: 75px;
	color: #33484f;
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
}
.notification-list ul li a img{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 10px;
	top: 13px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}
.notification-list ul li a h3{
	font-size: 18px;
	color: #33484f;
	font-weight: 500;
	font-family: 'Work Sans', sans-serif;
}
.notification-list ul li a h3 span{
	float: right;
	font-size: 14px;
	font-weight: 500;
	padding-top: 2px;
}
.notification-list ul li a p{margin-bottom: 0;}
/*==============================================================
	Header End
==============================================================*/
/*==============================================================
	Footer Start
==============================================================*/
.footer-wrap{
	width: 100%;
	position: relative;
	/*height: 44px;*/
	text-align: center;
	font-weight: 500;
}
/*==============================================================
	Footer End
==============================================================*/
/*==============================================================
	Side Bar Start
==============================================================*/
.menu-icon{
	width: 47px;
	height: 47px;
	position: absolute;
	right: -60px;
	top: 14px;
	background: #ffffff;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.menu-icon span {
	display: block;
	position: absolute;
	height: 4px;
	width: 70%;
	margin: 0 auto;
	background: #91a8b0;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	right: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.menu-icon span:nth-child(1) {
	top: 10px;
}
.menu-icon span:nth-child(2),.menu-icon span:nth-child(3) {
	top: 22px;
}
.menu-icon span:nth-child(4) {
	top: 34px;
}
.menu-icon.open{
	/*right: -50px;*/
}
.menu-icon.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.menu-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.menu-icon.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.brand-logo{
	width: 250px;
	height: 70px;
	background: #0069d9;
}
.brand-logo a{
	display: block;
	position: relative;
	font-size: 22px;
	color: #ffffff;
	letter-spacing: 0.050em;
	font-weight: 500;
	line-height: 45px;
	font-family: 'Work Sans', sans-serif;
	padding: 10px 20px 5px;
	text-align: center;
}
.brand-logo a span{
	display: block;
	vertical-align: middle;
	margin-left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.brand-logo a img{
	max-width: 160px;
	display: block;
	margin: 0 auto;
}
.left-side-bar{
	position: fixed;
	left: 0;
	top: 0;
	width: 250px;
	height: 100vh;
	z-index: 1000;
	background: #ffffff;
	-webkit-box-shadow: -2px 0px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: -2px 0px 10px rgba(0, 0, 0, .4);
	box-shadow: -2px 0px 10px rgba(0, 0, 0, .4);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.left-side-bar:before{
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.left-side-bar.open{
	left: 0;
}
.left-side-bar .menu-block{
	height: calc(100vh - 70px);
	background: #ffffff;
}
.sidebar-menu{
	padding: 20px 0px 20px;
}
.sidebar-menu .dropdown-toggle{
	display: block;
	padding: 10px 15px 10px 60px;
	font-size: 16px;
	color: #131e22;
	font-weight: 500;
	position: relative;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu .dropdown-toggle:after{
	position: absolute;
	right: 15px;
	font-size: 18px;
}
.sidebar-menu .dropdown-toggle:hover, .sidebar-menu .show > .dropdown-toggle{
	background: #def2ff;
	color: #0099ff;
}
.sidebar-menu .dropdown-toggle .fa{
	position: absolute;
	left: 20px;
	font-size: 18px;
	color: #91a8b0;
	width: 26px;
	top: 13px;
	text-align: center;
}
.sidebar-menu .dropdown-toggle:hover .fa, .sidebar-menu .show > .dropdown-toggle .fa{
	color: #0099ff;
}
.sidebar-menu .submenu{
	position: relative;
	width: 100%;
	display: none;
	background: #def2ff;
}
.sidebar-menu .submenu:before{
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	left: 31px;
	top: 0;
	display: none;
	background: none;
	border-left: 2px dashed #0099ff;
}
.sidebar-menu .submenu li{
	position: relative;
}
.sidebar-menu .submenu li:before{
	content: "";
	position: absolute;
	left: 28px;
	top: 50%;
	height: 2px;
	margin-top: -1px;
	width: 10px;
	background: #0099ff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu .submenu li.dropdown:before{
	display: none;
}
.sidebar-menu .submenu li a{
	display: block;
	padding: 10px 15px 10px 60px;
	font-size: 14px;
	color: #131e22;
	font-weight: 500;
	position: relative;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu .submenu li a.dropdown-toggle{
	padding: 10px 15px 10px 60px;
	font-size: 16px;
}
.sidebar-menu .submenu.child{
	padding-left: 15px;
}
.sidebar-menu .submenu li:hover:before{
	left: 18px;
}
.sidebar-menu .submenu li a:hover, .sidebar-menu .submenu li a.active{
	color: #0099ff;
}
.sidebar-menu .dropdown-toggle.active, .sidebar-menu .dropdown-toggle.active .fa{
	color: #0099ff;
	background: #def2ff;
}

/*==============================================================
	Side Bar End
==============================================================*/

/*==============================================================
	Login Start
==============================================================*/
.login-wrap{
	height: 100%;
}
.login-wrap .mCustomScrollBox{
	height: auto;
	width: 100%;
}
.login-box{
	max-width: 380px;
	width: 100%;
	margin: 5px auto;
}
.login-box .login-img{
	display: block;
	margin: 0 auto 20px;
	max-width: 100px;
}
.forgot-password{
	text-align: right;
}
/*==============================================================
	Login End
==============================================================*/
.main-container{
	padding: 70px 0 0px 250px;
	height: 100vh;
}
.page-header .dropdown-menu{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.fontawesome-icon-list{
	padding-top: 20px;
}
.fontawesome-icon-list .fa-hover{
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fontawesome-icon-list .fa-hover:hover{
	background: #def2ff;
}
.fontawesome-icon-list .fa-hover:hover a{
	color: #0099ff;
}
.fontawesome-icon-list a{
	display: block;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	padding-left: 45px;
	color: #131e22;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fontawesome-icon-list a .icon-copy{
	position: absolute;
	left: 10px;
	top: 4px;
	font-size: 18px;
}
.foundation-icon.fontawesome-icon-list a .icon-copy{
	top: 0;
	font-size: 24px;
	line-height: 24px;
}
.ionicons-list li{
	width: 8.30%;
	text-align: center;
}
.ionicons-list.fontawesome-icon-list a{
	padding-left: 0;
}
.ionicons-list.fontawesome-icon-list a .icon-copy{
	font-size: 24px;
	left: 0;
	position: relative;
}

.wysihtml5-toolbar .dropdown-menu a{
	display: block;
	font-size: 15px;
	font-weight: 400;
	padding: 0.55rem 1rem;
	color: #667f87;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.html-editor textarea.form-control{
	height: 300px;
	font-weight: 400;
}
.copy-notification {
	color: #ffffff;
	background-color: rgba(0,0,0,0.8);
	padding: 12px 20px;
	border-radius: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 150px;
	margin-top: -30px;
	margin-left: -85px;
	display: none;
	text-align:center;
}

.error-page:before {
	content: "";
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.error-page-wrap{
	font-size: 22px;
}
.error-page-wrap a{
	color: #94c5f9;
	font-weight: 500;
}

.project-info{
	padding-bottom: 15px;
}
.project-info-left{
	float: left;
	width: 60px;
	padding-top: 10px;
}
.project-info-left .icon{
	width: 50px;
	height: 50px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}
.project-info-right{
	float: right;
	width: calc(100% - 60px);
	text-align: right;
}
.project-info-right p{
	margin-bottom: 0;
}

.device-manage-progress-chart {}
.device-manage-progress-chart ul li {
	margin-bottom: 30px;
}
.device-manage-progress-chart ul li:last-child{
	margin-bottom: 0;
}
.device-manage-progress-chart .device-name {
	width: 75px;
	float: left;
	text-align: right;
}
.device-manage-progress-chart .device-total {
	float: left;
	width: 45px;
	font-size: 14px;
}
.device-manage-progress-chart .device-progress {
	float: left;
	width: calc(100% - 120px);
	padding: 7px 10px 0;
}
.device-manage-progress-chart .device-progress .grand_total {
	float: right;
}
.device-manage-progress-chart .device-progress .progress {
	margin-bottom: 0;
	height: 10px;
}
.device-manage-progress-chart .device-progress .progress .progress-bar {
	height: 100%;
}
.device-manage-progress-chart .device-progress .progress .progress-bar.window{background: #00bcf2;}
.device-manage-progress-chart .device-progress .progress .progress-bar.mac{background: #027496;}
.device-manage-progress-chart .device-progress .progress .progress-bar.android{background: #0059b2;}
.device-manage-progress-chart .device-progress .progress .progress-bar.linux{background: #8ab1b7;}

.device-usage-chart{
	/*color: #667f87;*/
}
.to-do-list ul li{
	padding: 15px 15px;
	background: #eff5f7;
}
.to-do-list ul li:hover{
	background: #eff5f7;
}
.to-do-list ul li:nth-child(2n){
	background: #ffffff;
}
#browservisit path.jvectormap-region.jvectormap-element {
	stroke-width: 0.5px;
	stroke: #667f87;
}
.jvectormap-zoomin,
.jvectormap-zoomout,
.jvectormap-goback {
	background: #667f87;
}

.browser-visits{}
.browser-visits ul li{
	margin-bottom: 40px;
}
.browser-visits ul li .icon{
	width: 50px;
}
.browser-visits ul li .visit{
	width: 50px;
}
.browser-visits ul li .browser-name{
	width: calc(100% - 100px);
	font-size: 18px;
}

.docs-preview {
	margin-right: -1rem;
}

.img-preview {
	float: left;
	margin-bottom: .5rem;
	margin-right: .5rem;
	overflow: hidden;
}

.img-preview > img {
	max-width: 100%;
}

.preview-lg {
	height: 9rem;
	width: 16rem;
}

.preview-md {
	height: 4.5rem;
	width: 8rem;
}

.preview-sm {
	height: 2.25rem;
	width: 4rem;
}

.preview-xs {
	height: 1.125rem;
	margin-right: 0;
	width: 2rem;
}
.btn-list .btn{
	margin: 5px;
}

#login-modal .modal-dialog{
	max-width: 380px;
}
#login-modal .login-box{
	margin: 0;
}
.confirmation-btn{
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.da-card{
	position: relative;
}
.da-card .da-card-content{
	padding: 20px;
	background: #ffffff;
}
.da-card .da-card-photo{
	position: relative;
	overflow: hidden;
}
.da-card .da-card-photo img{
	position: relative;
	display: block;
	width: 100%;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.da-card .da-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	overflow: hidden;
	background: rgba(19,30,34,0.7);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.da-card .da-overlay.da-slide-left{
	left: -100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.da-card .da-card-photo:hover .da-overlay.da-slide-left{
	left: 0;
}
.da-card .da-overlay.da-slide-right{
	right: -100%;
	left: inherit;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.da-card .da-card-photo:hover .da-overlay.da-slide-right{
	right: 0;
}
.da-card .da-overlay.da-slide-top{
	top: -100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.da-card .da-card-photo:hover .da-overlay.da-slide-top{
	top: 0;
}
.da-card .da-overlay.da-slide-bottom{
	top: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.da-card .da-card-photo:hover .da-overlay.da-slide-bottom{
	top: 0;
}
.da-card .da-card-photo:hover img{
	-ms-transform: scale(1.2) translateZ(0);
	-webkit-transform: scale(1.2) translateZ(0);
	transform: scale(1.2) translateZ(0);
}
.da-card .da-card-photo:hover .da-overlay{
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.da-card .da-card-photo:hover .da-social{
	opacity: 1;
}
.da-card .da-social{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20px;
	justify-content: center;
	color: #ffffff;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.da-card .da-social h5 {
	position: absolute;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}
.da-card .da-social ul li{
	float: left;
}
.da-card .da-social ul li a{
	display: block;
	width: 45px;
	height: 45px;
	border: 1px solid #ffffff;
	line-height: 43px;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 0px 1px #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.da-card .da-social ul li a:hover{
	background: #ffffff;
	color: #0099ff;
}

.nav-tabs.customtab .nav-link.active, .nav-tabs.customtab .nav-item.show .nav-link{
	color: #0099ff;
	border: 0;
	border-bottom: 2px solid #0099ff;
}
.nav-tabs.customtab .nav-item{
	margin-bottom: 0;
}
.nav-tabs.customtab .nav-link{
	border: 0;
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav-tabs.customtab .nav-link:hover, .nav-tabs.customtab .nav-link:focus{
	color: #0099ff;
	border: 0;
	border-bottom: 2px solid #0099ff;
}

.vtabs{}
.nav.vtabs{
	border-bottom: 0;
	border-right: 1px solid #dee2e6;
	height: 100%;
}
.nav.vtabs .nav-link{
	border-radius: 0;
}
.nav.vtabs .nav-link.active, .nav.vtabs .nav-item.show .nav-link{
	border-right: 0;
	border-color: #dee2e6;
	color: #0099ff;
}
.nav.vtabs.nav-pills .nav-link.active, .nav.vtabs.nav-pills .nav-item.show .nav-link{
	border-right: 0;
	border-color: #dee2e6;
	color: #ffffff;
}
.nav.vtabs.customtab .nav-link.active, .nav.vtabs.customtab .nav-item.show .nav-link{
	border-color: #0099ff;
}

/*==============================================================
	Timeline Start
==============================================================*/
.timeline{}
.timeline ul{
	position: relative;
}
.timeline ul:before{
	content: "";
	width: 3px;
	height: 100%;
	background: #0099ff;
	position: absolute;
	left: 150px;
}
.timeline ul li{
	position: relative;
	padding-left: 180px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.timeline ul li:before{
	content: "";
	position: absolute;
	top: 30px;
	left: 142px;
	width: 18px;
	height: 18px;
	background: #ffffff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 0px 3px #0099ff;
	-moz-box-shadow: 0px 0px 0px 3px #0099ff;
	box-shadow: 0px 0px 0px 3px #0099ff;
}
.timeline .timeline-date{
	position: absolute;
	left: 0;
	top: 20px;
	width: 120px;
	background: #0099ff;
	color: #ffffff;
	font-size: 16px;
	padding: 6px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*==============================================================
	Timeline End
==============================================================*/
/*==============================================================
	sitemap Start
==============================================================*/
.list-unstyled > li > ul{
	margin-left: 35px;
}
.list-unstyled > li > ul li{
	list-style: circle;
}

.sitemap{
	border-left: 2px dashed #2976aa;
}
.sitemap h5{
	padding: 15px;
	margin-bottom: 10px;
}
.sitemap ul{
	position: relative;
	padding-left: 25px;
}
.sitemap ul li{
	min-height: 40px;
	position: relative;
	padding-left: 45px;
	margin-bottom: 10px;
	padding-top: 5px;
}
.sitemap ul li:last-child{
	margin-bottom: 0;
}
.sitemap ul li:before{
	content: "";
	background: url(../images/page-icon.svg) no-repeat;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
}
.sitemap ul li:after{
	content: "";
	width: 25px;
	left: -25px;
	top: 40%;
	position: absolute;
	border-top: 2px dashed #2976aa;
}
.sitemap ul li a{
	display: inline-block;
	color: #2976aa;
	font-weight: 500;
	font-size: 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sitemap ul li a:hover{
	color: #000;
}
.sitemap ul li.child{
	padding-left: 0;
	padding-top: 0;
	border-left: 2px dashed #2976aa;
}
.sitemap ul li.child h5{
	padding-top: 0;
}
.sitemap ul li.child:before, .sitemap ul li.child:after{
	display: none;
}
/*==============================================================
	sitemap Start
==============================================================*/
/*==============================================================
	Calendar Start
==============================================================*/
.calendar-wrap{}
.calendar-wrap .fc-event.ui-draggable-handle{
	padding: 5px;
	margin-bottom: 5px;
}
.fc th{
	font-weight: 500;
	padding: 10px !important;
	background: #def2ff;
}
.fc-day-grid-event .fc-time{
	font-weight: 500 !important;
}
.fc-day-grid-event .fc-content{
	padding: 3px 9px;
}
.fc-header-toolbar h2{
	font-size: 24px;
}
/*==============================================================
	Calendar End
==============================================================*/
/*==============================================================
	Blog Start
==============================================================*/
.blog-wrap{
	padding-bottom: 50px;
}
.blog-list{}
.blog-list ul li{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 40px;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog-list ul li:hover{
	-webkit-box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.25);
}
.blog-list ul li .blog-img{
	height: 100%;
	min-height: 300px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	background-size: cover !important;
}
.blog-list ul li .blog-caption{
	padding: 20px;
	font-size: 16px;
	color: #78909c;
}
.blog-list ul li .blog-caption h4{
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 20px;
}
.blog-list ul li .blog-caption h4 a{
	color: #131e22;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog-list ul li:hover .blog-caption h4 a{
	color: #0099ff;
}
.latest-post{}
.latest-post ul li{
	padding: 0.75rem 1.25rem;
	font-size: 14px;
	color: #78909c;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.latest-post ul li h4{
	font-size: 16px;
}
.latest-post ul li h4 a{
	display: block;
	color: #131e22;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.latest-post ul li h4 a:hover{
	color: #0099ff;
}
.blog-detail{
	background: #ffffff;
}
.blog-detail .blog-caption{
	padding: 20px;
	font-size: 16px;
	color: #78909c;
}
.blog-detail ul{
	padding-left: 15px;
}
.blog-detail ul li{
	position: relative;
	padding-left: 25px;
	margin-bottom: 5px;
	line-height: 28px;
}
.blog-detail ul li:before{
	content: "\f101";
	font-family: "FontAwesome";
	position: absolute;
	color: #405158;
	left: 0;
	top: 0;
}
.blog-detail ol {
	padding-left: 15px;
	counter-reset: my-badass-counter;
}
.blog-detail ol > li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 5px;
}
.blog-detail ol > li > ol {
	counter-reset: my-badass-counter;
}
.blog-detail ol > li > ol > li:before {
	content: counter(my-badass-counter, lower-alpha);
	counter-increment: my-badass-counter;
}
.blog-detail ol > li > ol > li > ol {
	counter-reset: my-badass-counter;
}
.blog-detail ol > li > ol > li > ol > li:before {
	content: counter(my-badass-counter, lower-roman);
	counter-increment: my-badass-counter;
}
.blog-detail ol > li:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	position: absolute;
	left: 0;
	top: 0;
	color: #405158;
	font-weight: 500;
}
/*==============================================================
	Blog Start
==============================================================*/
/*==============================================================
	Product Page Start
==============================================================*/
.product-list{}
.product-list ul li{
	margin-bottom: 30px;
}
.product-box{
	background: #ffffff;
	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.product-list ul li:hover .product-box{
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
}
.producct-img{
	overflow: hidden;
}
.producct-img img{
	position: relative;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.product-list ul li:hover .producct-img img{
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.product-caption{
	padding: 20px;
}
.product-caption h4{
	font-size: 20px;
	margin-bottom: 8px;
}
.product-caption h4 a{
	color: #131e22;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.product-caption .btn{
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
}
.price{
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 15px;
	color: #78909c;
}
.price ins{
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	color: #131e22;
}
.price del{
	font-size: 15px;
}
.product-slider{
	margin-bottom: 20px;
}
.slider-arrow .slick-arrow {
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	border: 1px solid #2a2d31;
	background: #2a2d31;
	border-radius: 0;
	cursor: pointer;
	font-size: 0;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.slider-arrow .slick-arrow:hover {
	border-color: #2a2d31;
}
.slider-arrow .slick-arrow:hover:before {
	color: #ffffff;
}
.slider-arrow .slick-arrow:before {
	font-family: "FontAwesome";
	font-size: 16px;
	color: #ffffff;
	line-height: 38px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.slider-arrow .slick-arrow.slick-prev {
	z-index: 12;
	left: 15px;
}
.slider-arrow .slick-arrow.slick-prev:before {
	content: "\f177";
}
.slider-arrow .slick-arrow.slick-next {
	right: 15px;
}
.slider-arrow .slick-arrow.slick-next:before {
	content: "\f178";
}
.product-slide-nav{
	padding: 10px;
}
.product-detail-desc{
	font-size: 16px;
	color: #78909c;
}
/*==============================================================
	Product Page End
==============================================================*/
/*==============================================================
	Faq Page Start
==============================================================*/
.faq-wrap{}
.faq-wrap .card{
	margin-bottom: 20px;
	border: 0;
	-webkit-box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.20);
}
.faq-wrap .card-header{
	background: #ffffff;
	text-align: left;
	border: 0;
	padding: 0;
}
.faq-wrap .card-header .btn{
	background: transparent;
	border-radius: 0;
	text-align: left;
	font-size: 20px;
	padding: 16px 40px 16px 40px;
	position: relative;
	white-space: normal;
}
.faq-wrap .card-header .btn:before{
	content: "Q.";
	font-weight: 500;
	position: absolute;
	left: 10px;
}
.faq-wrap .card-header .btn:after{
	content: "\f068";
	font-family: "FontAwesome";
	position: absolute;
	right: 10px;
	color: #2976aa;
	top: 16px;
}
.faq-wrap .card-header .btn.collapsed:after{
	content: "\f067";
}
.faq-wrap .card-body{
	padding-top: 0;
	color: #78909c;
}
/*==============================================================
	Faq Page End
==============================================================*/

.gallery-wrap{}
.gallery-wrap > ul > li{
	margin-bottom: 30px;
}
/*==============================================================
	pricing-table Start
==============================================================*/
.pricing-table-wrap{}
.pricing-table-wrap .card{
	border: 0;
	-webkit-box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.20);
}
.pricing-table-wrap .btn{
	padding-left: 30px;
	padding-right: 30px;
}
.pricing-table-wrap .list-group-flush .list-group-item{
	background: transparent;
}

.pricing-table-style2{
}
.pricing-table-style2 .icon{
	max-width: 180px;
	margin: 0 auto;
	padding-bottom: 30px;
	min-height: 180px;
	max-height: 180px;
	display: flex;
}
.pricing-table-style2 .icon img {
    width: 100%;
}
/*==============================================================
	pricing-table End
==============================================================*/
/*==============================================================
	Profile Page Start
==============================================================*/
.profile-photo{
	width: 160px;
	height: 160px;
	margin: 0 auto 15px;
	position: relative;
}
.profile-photo .edit-avatar{
	position: absolute;
	right: -15px;
	top: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.profile-photo .avatar-photo{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.profile-info{
	border-top: 2px dashed #eff5f7;
	padding: 15px;
}
.profile-info ul li{
	margin-bottom: 15px;
	font-size: 16px;
	word-wrap: break-word;
}
.profile-info ul li span{
	display: block;
	font-size: 14px;
	color: #78909c;
	font-weight: 500;
}
.profile-info ul li:last-child{
	margin-bottom: 0;
}
.profile-social{
	border-top: 2px dashed #eff5f7;
	padding: 15px;
}
.profile-social ul li{
	float: left;
	margin: 5px;
}
.profile-social ul li .btn{
	padding: 0;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
}
.profile-skills{
	border-top: 2px dashed #eff5f7;
	padding: 15px;
}
.profile-tab .nav-tabs.customtab{
	background: #e7eef0;
}
.profile-tab .nav-tabs.customtab .nav-link{
	padding: 18px 30px;
	background: transparent;
	font-weight: 500;
}
.profile-setting{
	height: 100%;
}
.profile-setting .container{
	max-width: 800px;
}
.profile-tab .tab-content{
	height: calc(100% - 63px);
}
.profile-setting .profile-edit-list{
	padding: 30px 0;
	margin: 0;
}
.profile-setting .profile-edit-list > li{
	padding: 20px;
}
.profile-setting .btn-outline-secondary{
	border-color: #ced4da;
}
.profile-setting .profile-edit-list .form-control{
	font-weight: 400;
}
.task-title{
	padding-bottom: 30px;
}
.task-title a{
	padding-left: 20px;
	padding-right: 20px;
}
.profile-task-wrap .container{
	max-width: 800px;
}
.profile-task-list{
}
.profile-task-list ul li{
	position: relative;
	padding-left: 30px;
	font-size: 18px;
	line-height: 24px;
	color: #263238;
	margin-bottom: 25px;
}
.profile-task-list.close-tasks ul li{
	color: #90a4ae;
	text-decoration: line-through;
}
.profile-task-list ul li .task-type{
	font-size: 16px;
	color: #90a4ae;
	font-weight: 500;
}
.profile-task-list ul li .task-assign{
	font-size: 16px;
	color: #90a4ae;
	font-weight: 300;
}
.profile-task-list ul li .due-date{
	display: inline-block;
	padding-left: 10px;
}
.profile-task-list ul li .due-date:before{
	content: "\f111";
	font-family: "FontAwesome";
	display: inline-block;
	font-size: 8px;
	vertical-align: middle;
	margin-right: 8px;
	opacity: 0.5;
}
.profile-task-list ul li .custom-control{
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
}
.profile-task-list ul li .custom-control-label {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}
.profile-task-list ul li .custom-control-label::before, .profile-task-list ul li .custom-control-label::after{
	top: 50%;
	margin-top: -12px;
}
.task-list-scroll{
	height: 303px;
}
.task-list-form > ul > li{
	padding: 30px 20px;
	background: #e7eef0;
	position: relative;
	border-bottom: 2px dashed #2976aa;
}
.task-list-form > ul > li .remove-task{
	position: absolute;
	right: 22px;
	top: 3px;
	font-size: 18px;
	color: #2976aa;
}
.task-list-form .form-control{
	font-weight: 400;
}
.task-list-form textarea.form-control{
	height: 80px;
}
.task-list-form .btn-outline-primary{
	border-color: #ced4da;
}
.add-more-task{
	text-align: right;
}
.add-more-task a{
	display: inline-block;
	padding: 10px;
	color: #2976aa;
}

.profile-timeline{
	padding: 30px;
}
.profile-timeline .timeline-month{
	margin-bottom: 20px;
}
.profile-timeline-list ul{
	padding-left: 15px;
	position: relative;
}
.profile-timeline-list ul:before{
	content: "";
	width: 2px;
	height: 100%;
	position: absolute;
	left: 4px;
	top: 0;
	background-color: #2976aa;
}
.profile-timeline-list ul li{
	margin-bottom: 10px;
	position: relative;
	padding-left: 100px;
	line-height: 24px;
	padding-top: 8px;
}
.profile-timeline-list ul li p{
	margin-bottom: 0;
}
.profile-timeline-list ul li:before{
	content: "";
	width: 12px;
	height: 12px;
	border: 2px solid #2976aa;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	position: absolute;
	left: -16px;
	top: 15px;
	background: #2976aa;
}
.profile-timeline-list .date{
	position: absolute;
	top: 8px;
	left: 5px;
	font-weight: 500;
	font-size: 16px;
}
.profile-timeline-list .task-name{
	text-transform: uppercase;
	font-weight: 500;
	color: #78909c;
	font-size: 14px;
	line-height: 22px;
	position: relative;
}
.profile-timeline-list .task-name i{
	position: absolute;
	left: -22px;
	top: 0px;
	font-size: 18px;
}
.profile-timeline-list .task-time{
	color: #78909c;
	font-size: 16px;
}
/*==============================================================
	Profile Page End
==============================================================*/

.contact-directory-list > ul > li{
	margin-bottom: 30px;
}
.contact-directory-box{
	background: #ffffff;
	min-height: 400px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.contact-dire-info{
	padding: 30px 25px 20px;
}
.contact-directory-box .contact-avatar span{
	display: block;
	margin: 0 auto 20px;
	width: 150px;
	height: 150px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
}
.contact-directory-box .contact-avatar span img{
-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.contact-directory-box .contact-name{
	padding-bottom: 20px;
}
.contact-directory-box .contact-name h4{
	font-weight: 500;
}
.contact-directory-box .contact-name p{
	margin-bottom: 2px;
	color: #7f92a9;
}
.contact-directory-box .contact-skill{
	padding-bottom: 20px;
}
.contact-directory-box .contact-skill .badge{
	border: 1px solid #ced9ee;
	font-weight: 500;
	font-size: 16px;
	padding: 7px 11px;
	margin: 3px 0;
}
.contact-directory-box .contact-skill .badge.badge-primary{
	background: #55a8fd;
	border-color: #55a8fd;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.contact-directory-box .profile-sort-desc{
	font-weight: 400;
	color: #6f7c8d;
}
.contact-directory-box .view-contact a{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	padding: 20px 5px;
	letter-spacing: 0.050em;
	position: relative;
	-webkit-border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact-directory-box:hover .view-contact a{
	background: #55a8fd;
	color: #ffffff;
}
.contact-directory-box:hover .view-contact a:before{
	opacity: 0;
}
.contact-directory-box .view-contact a:before{
	content: "";
	width: 80px;
	height: 1px;
	background: #6f7c8d;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
