/*Pagination*/
.pagination{ text-align:center;}
.pagination li{ display: inline-block; vertical-align: top; }
.pagination li span{background:#fff; color:#373737; padding:7px 10px; height: 30px; vertical-align: top; display: inline-block; border:1px solid #ddd; font-size:14px;}
.pagination li a{background:#fff; color:#373737; padding:0px 10px; height: 30px; line-height:30px; vertical-align: top; display: inline-block; border:1px solid #ddd; font-size:14px;}
.pagination li a:hover, .pagination li.active a{background:#007bff; color:#373737; text-decoration:none;}

.Message_box_control{
    width: 100%;
    background-color: #f9f7f7cf;
    padding: 10px;
    height: 60vh;
    overflow: auto;
}
.Message_box_sec_img{
    width: 40px;
    float: left;
    vertical-align: top;
    margin-top: 23px;
}
.Message_box_sec_info{
    float: left;
    width: 90%;
    padding-left: 13px;
}
.Message_send_cont{
    width: 100%;
    padding: 10px;
    background-color: #dcd9d9;
    min-height: 41px;
    border-radius: 5px;
}
.Message_send_date {
    font-size: 13px;
    color: #999;
    margin: 0 0 5px;
}
.Message_send_cont p{
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #666;
}
/*
 *  STYLE 2
 */

.Message_box_control::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.Message_box_control::-webkit-scrollbar
{
    width: 5px;
    background-color: #ffb114;
}

.Message_box_control::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ff7519;
}

/*
 *  STYLE 3
 */


 .Message_box_control .Message_box_sec_img {
    border-radius: 50%;
}
.Message_box_sec_img {
    width: 40px;
    float: left;
    vertical-align: top;
    margin-top: 17px;
}
.Message_box_sec.myMsg {
    width: 100%;
}
.Message_box_sec {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.Message_box_sec.replyMsg::after{
	content:"\f0d9";
	font-family:'FontAwesome';
	font-size: 24px;
	position: absolute;
	left: 46px;
	color: #dcd9d9;
	top: 24px;
}
.Message_box_sec.myMsg::after{
	content:"\f0da";
	font-family:'FontAwesome';
	font-size: 24px;
	position: absolute;
	right: 52px;
	top: 25px;
	color: #dcd9d9;
}
.Message_box_sec.myMsg .Message_box_sec_img{
    float: right;
}
.Message_box_sec.myMsg .Message_box_sec_info{
    text-align: right;
}
.Message_box_control .Message_box_sec_img img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.admin_modal .modal-header{
    background-color: #ff7519;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}
div#forumModal .modal-dialog{
    max-width:500px;
    text-align: center;
}
.forum_info_img {
    width: auto;
    margin: auto;
    overflow: hidden;
}
.forum_info_img img{
    transition: all 0.5s ease;
}
.forum_info_img img:hover{
    transform: scale(1.2);
}
.description p{
    font-size: 15px;
    line-height: 25px;
    color: #333;
    text-align: left;
    margin: 0;
}
.description{
    overflow: auto;
    max-height: 200px;
    padding-right: 10px;

}
div#forumModal .modal-header h4 {
    font-size: 16px;
}