@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:200,300');

*{padding: 0; margin: 0; box-sizing: border-box;}

body{ font-family: 'Open Sans', sans-serif; font-size: 14px; color: #0a0a0a;}
a:hover{ text-decoration: none; color: #087dc2;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }
ol,ul{padding: 0 0 0 30px;} 

h2{ font-weight:800; font-size: 24px; font-family: 'Oswald', sans-serif;}
.f_image{width: 100%;}
.code{background: #f6f6f6; padding: 15px; border-left: 5px solid #097dc2; color: #0a0a0a; margin: 15px 30px; display: block; clear: both;}

.t_box{ border-radius: 5px; width: 60%; border: none; padding: 0px 10px; height:45px; font-size: 14px;}

.blue-txt{color: #097dc2;}
.more-arrow-txt{ color: #090909; font-weight: 700; text-transform: uppercase; }
.more-arrow-txt:after{ content:"\f061"; font-family:'FontAwesome'; font-size: 14px; margin: 0 0 0 5px; color: #087dc2;}

.mart30{margin-top: 30px;}
.marb30{margin-bottom: 30px;}
.list li{list-style:inside ;}
.olist{ padding-left: 20px;}
.olist li{list-style: decimal;}

/*Header*/
.main-nav{ font-family: 'Oswald', sans-serif; font-weight:300;}
.main-nav li{ font-size: 18px; }
.navbar-expand-lg .main-nav .navbar-nav li a.nav-link{ color: #2d0b00; padding-left: 19px; padding-right: 19px; }
.navbar-expand-lg .main-nav .navbar-nav li:hover a, .navbar-expand-lg .main-nav .navbar-nav li.active a{ color: #0086cd;}

/*Banner*/
.top_banner{background: url(../images/banner.jpg) no-repeat center 62%; background-size: cover; border-radius: 0;}
.search_pan{width: 30%; margin: 0 auto; text-align: center; display: flex;  justify-content: center; align-items: flex-end; height: 250px;} 
.search_pan .t_box{margin-right: 15px; min-width: 300px;}
#search_icon{margin-top: 15px; cursor: pointer;}
#search_pannel_div{position: relative;}
#search_pannel_div .search-suggestion-wrap{position: absolute; display: none; top: 65px; width: 300px; right: 0; padding: 10px 15px; z-index: 99; background: #fff; border: 1px solid #ccc;}
#search_pannel_div .t_box{width: 67%; border: 1px solid #ccc;}


.in-banner{position: relative; min-height: 275px; background-size:cover; background-repeat: no-repeat; background-position: center center; padding: 100px 100px 30px 100px;}
.in-banner img{ width: 100%; display: block;}
.in-banner .container{ /*position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); z-index: 5;*/ color: #fff; text-transform: uppercase; }
.in-banner h2{ font-size: 36px; margin: 0;}
.ban-txt span{ margin: 0; display: inline-block; background: rgba(0,0,0,0.7); padding: 15px; }
.ban-txt span h2{margin: 0;}
.ban-txt p{ margin: 10px 0 0;}

/*Footer*/
.footer{ background: #20212d; color: #fff; padding-top: 95px;}
.foot-block h2{ position: relative; padding: 0 0 5px 0; margin: 0 0 25px 0;}
.foot-block{ margin: 0 0 30px 0; }
.foot-block h2:after{ position: absolute; left: 0; bottom: 0; width: 105px; height: 3px; content: ""; background: #087dc2; }
.foot-block p{ margin: 0 0 15px 0; }
.foot-block li{ margin: 0 0 2px 0; text-transform: uppercase;}
.foot-block li a{color: #fff;}
.foot-block li a:hover, .foot-social li a:hover{ color: #087dc2; }
.last{ padding:25px 0; background: #131420;}
.foot-social{ display:inline-block;  }
.foot-social li{ font-size: 24px; display: inline-block;}
.foot-social li a{color: #d3d1d1;}

/*List page*/
.mid-list{padding:40px 0 20px 0;}
.list-col-img{ width: 100% }
.list-col-img img{width: 100%; display: block; min-height: 120px; border: 1px solid #ccc; padding: 5px;}
.list-col-txt h2{ margin: 0 0 15px 0;}
.small-txt-upc{ font-size: 12px; text-transform: uppercase; }
.list-col-txt .small-txt-upc{ margin: 0 0 15px 0; }
.list-col-txt p{margin: 0 0 5px 0;}
.list-col-txt .small-txt-upc:before{ content:"\f041"; font-family:'FontAwesome'; font-size: 14px; margin: 0 5px 0 0;}
.list-col-txt .more-arrow-txt{ float: right; }
.mid-list-article{ padding: 15px; margin: 0 0 20px 0; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); border:1px solid #e8e9ec; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; }
.mid-list-article:hover{ box-shadow: 0 0 8px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.35); }
.mid-list-article:last-child{ border: 0; }
.editor-area .mid-list-article h2{ margin-top: 0; font-size: 1.4rem}



/*Side Bar*/

.border_viator_block .small-img-txt-block.right-nav-add{text-align: center; padding: 5px}
.sidebar h2{ margin: 0 0 10px 0;}
.link-only-txt li{ border-bottom: 1px solid #e8e8e8; padding:5px 0; list-style: none;}
.link-only-txt li:last-child, .small-img-txt-block:last-child{ border-bottom: 0; }
.link-only-txt li a{ color: #727272; }
.link-only-txt li a:hover{ color: #097dc2; }
.side-search{ background: #efefef; }
.side-search-head{ background: #097dc2; color: #fff; text-transform: uppercase; }
.side-search-head h2{ margin: 0; padding:10px 15px;}
.side-search-body{ padding: 15px; }
.small-img-txt-block{ margin: 0 0 15px 0; border-bottom: 1px solid #e8e8e8 }
.small-img-txt-block-img img{ width: 100%;  border: 1px solid #ccc; padding: 5px; min-height: 90px;}
.small-img-txt-block-info h5{ color: #1f1d1d; font-weight: 600; font-size: 14px; margin-bottom: 5px; }
.small-img-txt-block-info p{ color: #727272; line-height: 16px; }

.listrow{padding: 0; margin: 0;}
.listrow li{border-bottom: 1px solid #e8e8e8; padding:5px 10px; list-style: none;}
.listrow li:before{content:"\f054"; font-family:'FontAwesome'; font-size: 14px; color: #097dc2; margin-right: 10px;}



/* Home Page*/
.s_btn{color:#fff; border:1px solid #076fad; height: 45px; text-transform: uppercase; padding: 0 15px; border-radius: 5px; cursor: pointer; background: #085375;background: -moz-linear-gradient(top, #085375 0%, #089dd3 100%); background: -webkit-linear-gradient(top, #085375 0%,#089dd3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #085375 0%,#089dd3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#085375', endColorstr='#089dd3',GradientType=0 ); /* IE6-9 */}

.section_head{text-align: center;}
.section_head h1{font-size: 36px; font-family: 'Oswald', sans-serif; font-weight:200;}
.section_head p{ font-size: 18px; color: #ccc;}

.card_sec{display: flex; flex-flow: row wrap; align-items: flex-end; width: 100%; /*justify-content:center; */}
.card{/*max-width: 265px;*/ width:25%; padding: 10px; border: none; background: none; position: relative; background: url(../images/image-load.svg) no-repeat center 30%; background-size: 40%;}
.card a{display: block; height: 100%;}
.card figure{height: 100%; min-height: 150px; border-radius: 5px; background-repeat: no-repeat; margin: 0; background-position: center center; background-size: cover; border: 1px solid #bbb;}

.card_titel{position: absolute; bottom: 11px; left: 11px; right: 11px;     border-radius: 0 0 5px 5px; text-align: center; color: #fff; padding: 15px; background-color: rgba(0, 0, 0, 0.6); }
.card_titel h3{ font-weight:200; font-size: 24px; font-family: 'Oswald', sans-serif; color: #fff}
.card_titel p{margin: 0; min-height: 42px;}

.three-col .card{ width:33.33%;}



.bgacco{background: url(../images/bg_acco.jpg) no-repeat center 62% / cover; color: #fff; position: relative; padding: 30px 0 15px; margin: 30px 0; } 
.bgnight{background: url(../images/bg_night.jpg) no-repeat center 62% /cover; color: #fff; position: relative; padding: 30px 0 15px; margin: 30px 0;}
.bgacco:after, .bgnight:after{content: ''; display: block; position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index: 1; background-color: rgba(0, 0, 0, 0.8); }
.bgacco .more-arrow-txt, .bgnight .more-arrow-txt{color: #fff;}
.bgacco .container, .bgnight .container{position: relative; z-index: 9;}
.bgacco p, .bgnight p{color: #cdd;}

.tall .card{height: 350px;}
.sqr .card{height: 250px;}

.topcountry-last-two .card:first-child, .topcountry-last-two .card:last-child{ width: 50%;}
.topcity-last-two .card:nth-child(5), .topcity-last-two .card:nth-child(6){ width: 50%;}


.tiles_card_sec:after{content: ''; display: block; clear: both;}
.tiles_card_sec{display: block; width: 100%;}
.tiles_card_sec .card{float: left;}
.tiles_f .card:first-child, .tiles_l .card:first-child{width: 50%; height: 500px;}
.tiles_l .card{float: right;}

.cthree .card{width: 33.33%}

/*09-10-2018*/
.tbl-ctnt{ float: left; margin: 0 15px 15px 0; padding:10px; border: 1px solid #e8e8e8; width:30%;}
.tbl-ctnt ul{ list-style-type: none; padding:0; margin: 0;}
.tbl-ctnt ul li{ padding:0; margin:0 0 5px 0; border-bottom: 1px dashed #ccc; background: #eee; padding: 3px 10px;}
.tbl-ctnt ul li:last-child{ border-bottom: none; }
.tbl-ctnt ul li a{ display: block; }
.two-col-blk div:last-child{ border-left: 1px solid #e8e8e8;}
.advertise-bottom-margin{margin-bottom: 10px}
#galpop-content img{width:100%;}

.table-responsive td{ padding:5px;}

.search-suggestion-wrap{position: relative;}
.search-suggestion {top: 100%;left: 0;right: 15px;/*width: 100%;*/background: #fff; border: 1px solid #ced4da; max-height: 180px; overflow-y: auto; position: absolute; z-index: 99;}
.search-suggestion li {padding: 10px;display: block; border-bottom: 1px solid #ccc;}
ul#parent-srchres {margin: 0;padding: 0;list-style: none;}

.editor-area iframe{ border: 2px solid #0086cd !important; border-radius: 0.25rem; -webkit-border-radius: 0.25rem;}

.card_sec.photo4 .card{
    width: 25%;
    padding: 4px;
    border: none;
    background: none;
    position: relative;
    background: url(../images/image-load.svg) no-repeat center 30%;
    background-size: 40%;
}
/* .card_sec.photo4 .card_titel h3{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 20px;} */
.card_sec.photo4 .card_titel h3{text-overflow: ellipsis; font-size: 20px;}
.card_sec.photo4 .card_titel{bottom: 4px;   left: 4px; right: 5px;}
.card_sec.photo5 .card{width: 20%; padding: 4px; border: none; background: none; position: relative; background: url(../images/image-load.svg) no-repeat center 30%; background-size: 40%;}
.card_sec.photo5 .card a{border: 1px solid #ccc; border-radius: 5px;}
.card_sec.photo5 .card figure{border: 5px solid #fff;}
.card-article5 .card{width: 20%; /*padding: 10px; border: none; background: none; position: relative; background: url(../images/image-load.svg) no-repeat center 30%; background-size: 40%;*/}
.tall .card-article5 .card {height: 275px;}

.editor-area h2{margin: 30px 0 15px;}
.tbl-ctnt h2{margin: 0 0 15px;}


/*23-11-2018*/
.border_viator_block .small-img-txt-block{ border: 1px solid #e8e8e8; padding: 10px 10px 0 10px; box-shadow: 0 2px 5px 0 rgba(127, 114, 75, 0.12); -webkit-box-shadow: 0 2px 5px 0 rgba(127, 114, 75, 0.12); margin: 0 0 10px 0;}

.rating{ width: 100px; height: 16px; background: url(../images/star.png) no-repeat left top; position: relative;}
.rating_active{  height: 16px; background: url(../images/star.png) no-repeat left bottom; position: absolute; left: 0; top: 0;}


@media screen and (max-width: 991px) {
	.container{max-width:96%;}
	.card_sec.photo4 .card{width:33.33%;}
	.card_sec.photo5 .card{width:25%;}
	.search_btn{display: none;}
	#search_pannel_div .search-suggestion-wrap{position: static; display: block; top:0; width:100%;}
}

@media screen and (max-width: 979px) {
	.card{width:50%;}
	.card_sec.photo4 .card{width:50%;}
	.card_sec.photo5 .card{width:33.33%;}
}

@media screen and (max-width:599px) {
	.navbar-brand{ width: 150px; }
	.navbar-brand img{ width: 100% }
	
	.card_sec{flex-flow: column wrap;}
	.card, .tiles_f .card:first-child, .tiles_l .card:first-child, .tall .card, .three-col .card{width:100%; height: 250px;}
	.cthree .card{ width: 100% }
	.topcountry-last-two .card:first-child, .topcountry-last-two .card:last-child, .topcity-last-two .card:nth-child(5), .topcity-last-two .card:nth-child(6){width:100%;}

	.sqr{border-bottom: 1px solid #eee; padding-bottom: 15px;}
	.search_pan{width: 98%; flex-flow: column wrap; height: 130px;}
	.search_pan .t_box{min-width:100%; width: 100%; margin-right: 0;}
	.s_btn{width: 100%; margin-top: 15px;}
	.foot-block h2{text-align: center;}
	.foot-block li a{display: block;}
	.foot-block h2::after{left: 50%; margin-left: -52px;}
	.foot-block > ul {margin: 0 auto; width: 70%;}

	.search-suggestion-wrap{width: 100%}

	.tbl-ctnt{float: none; width: 100%;}
	.card_sec.photo4 .card{width:100%;}
	.card_sec.photo5{flex-flow: row wrap;}
	.card_sec.photo5 .card{width:50%; height: 150px;}
	.in-banner{padding: 70px 10px 10px;}
}

