@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:200,300');

*{padding: 0; margin: 0; box-sizing: border-box;}

body{ font-family: 'Open Sans', sans-serif; font-size: 14px; color: #0a0a0a;}
a:hover{ text-decoration: none; color: #087dc2;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }

h2{ font-weight:300; font-size: 24px; font-family: 'Oswald', sans-serif;}

.t_box{ border-radius: 5px; width: 60%; border: none; padding: 0px 10px; height:45px; font-size: 14px;}

.blue-txt{color: #097dc2;}
.more-arrow-txt{ color: #090909; font-weight: 700; text-transform: uppercase; }
.more-arrow-txt:after{ content:"\f061"; font-family:'FontAwesome'; font-size: 14px; margin: 0 0 0 5px; color: #087dc2;}

/*Header*/
.main-nav{ font-family: 'Oswald', sans-serif; font-weight:300;}
.main-nav li{ font-size: 18px; }
.navbar-expand-lg .main-nav .navbar-nav li a.nav-link{ color: #2d0b00; padding-left: 19px; padding-right: 19px; }
.navbar-expand-lg .main-nav .navbar-nav li:hover a, .navbar-expand-lg .main-nav .navbar-nav li.active a{ color: #0086cd;}

/*Banner*/
.top_banner{background: url(../images/banner.jpg) no-repeat center 62%; background-size: cover; border-radius: 0;}
.search_pan{width: 30%; margin: 0 auto; text-align: center; display: flex;  justify-content: center; align-items: flex-end; height: 250px;} 
.search_pan .t_box{margin-right: 15px; min-width: 300px;}

.in-banner{position: relative;}
.in-banner img{ width: 100%; display: block;}
.in-banner .container{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); z-index: 5; color: #fff; text-transform: uppercase;}
.in-banner h2{ font-size: 36px; margin: 0 0 5px 0}

/*Footer*/
.footer{ background: #20212d; color: #fff; padding-top: 95px;}
.foot-block h2{ position: relative; padding: 0 0 5px 0; margin: 0 0 25px 0;}
.foot-block{ margin: 0 0 30px 0; }
.foot-block h2:after{ position: absolute; left: 0; bottom: 0; width: 105px; height: 3px; content: ""; background: #087dc2; }
.foot-block p{ margin: 0 0 15px 0; }
.foot-block li{ margin: 0 0 2px 0; text-transform: uppercase;}
.foot-block li a{color: #fff;}
.foot-block li a:hover, .foot-social li a:hover{ color: #087dc2; }
.last{ padding:25px 0; background: #131420;}
.foot-social{ display:inline-block;  }
.foot-social li{ font-size: 24px; display: inline-block;}
.foot-social li a{color: #d3d1d1;}

/*List page*/
.mid-list{padding:40px 0 20px 0;}
.list-col-img{ width: 100% }
.list-col-img img{width: 100%; display: block;}
.list-col-txt h2{ margin: 0 0 15px 0;}
.small-txt-upc{ font-size: 12px; text-transform: uppercase; }
.list-col-txt .small-txt-upc{ margin: 0 0 15px 0; }
.list-col-txt p{margin: 0 0 5px 0;}
.list-col-txt .small-txt-upc:before{ content:"\f041"; font-family:'FontAwesome'; font-size: 14px; margin: 0 5px 0 0;}
.list-col-txt .more-arrow-txt{ float: right; }
.mid-list-article{ border-bottom: 1px solid #9e9e9e; padding-bottom: 10px; margin: 0 0 20px 0; }
.mid-list-article:last-child{ border: 0; }

/*Side Bar*/
.sidebar h2{ margin: 0 0 10px 0;}
.link-only-txt li{ border-bottom: 1px solid #e8e8e8; padding:5px 0; list-style: none;}
.link-only-txt li:last-child, .small-img-txt-block:last-child{ border-bottom: 0; }
.link-only-txt li a{ color: #727272; }
.link-only-txt li a:hover{ color: #097dc2; }
.side-search{ background: #efefef; }
.side-search-head{ background: #097dc2; color: #fff; text-transform: uppercase; }
.side-search-head h2{ margin: 0; padding:10px 15px;}
.side-search-body{ padding: 15px; }
.small-img-txt-block{ margin: 0 0 15px 0; border-bottom: 1px solid #e8e8e8 }
.small-img-txt-block-img img{ width: 100%; }
.small-img-txt-block-info h5{ color: #1f1d1d; font-weight: 600; font-size: 14px; margin-bottom: 5px; }
.small-img-txt-block-info p{ color: #727272; line-height: 16px; }

/* Home Page*/
.s_btn{color:#fff; border:1px solid #076fad; height: 45px; text-transform: uppercase; padding: 0 15px; border-radius: 5px; cursor: pointer; background: #085375;background: -moz-linear-gradient(top, #085375 0%, #089dd3 100%); background: -webkit-linear-gradient(top, #085375 0%,#089dd3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #085375 0%,#089dd3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#085375', endColorstr='#089dd3',GradientType=0 ); /* IE6-9 */}

.section_head{text-align: center;}
.section_head h1{font-size: 36px; font-family: 'Oswald', sans-serif; font-weight:200;}
.section_head p{ font-size: 18px; color: #ccc;}

.card_sec{display: flex; flex-flow: row wrap; align-items: flex-end; width: 100%; justify-content:center; }
.card{/*max-width: 265px;*/ width:25%; padding: 10px; border: none; background: none; position: relative; background: url(../images/image-load.svg) no-repeat center 30%; background-size: 40%;}
.card a{display: block; height: 100%;}
.card figure{height: 100%; background-repeat: no-repeat; margin: 0; background-position: center center; background-size: cover; border: 1px solid #bbb;}

.card_titel{position: absolute; bottom: 11px; left: 11px; right: 11px; text-align: center; color: #fff; padding: 15px; background-color: rgba(0, 0, 0, 0.6); }
.card_titel h3{ font-weight:200; font-size: 24px; font-family: 'Oswald', sans-serif;}
.card_titel p{margin: 0;}

.bgacco{background: url(../images/bg_acco.jpg) no-repeat center 62% / cover; color: #fff; position: relative; padding: 30px 0 15px; margin: 30px 0; } 
.bgnight{background: url(../images/bg_night.jpg) no-repeat center 62% /cover; color: #fff; position: relative; padding: 30px 0 15px; margin: 30px 0;}
.bgacco:after, .bgnight:after{content: ''; display: block; position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index: 1; background-color: rgba(0, 0, 0, 0.8); }
.bgacco .more-arrow-txt, .bgnight .more-arrow-txt{color: #fff;}
.bgacco .container, .bgnight .container{position: relative; z-index: 9;}
.bgacco p, .bgnight p{color: #cdd;}

.tall .card{height: 350px;}
.sqr .card{height: 250px;}

.tiles_card_sec:after{content: ''; display: block; clear: both;}
.tiles_card_sec{display: block; width: 100%;}
.tiles_card_sec .card{float: left;}
.tiles_f .card:first-child, .tiles_l .card:first-child{width: 50%; height: 500px;}
.tiles_l .card{float: right;}


@media screen and (max-width: 991px) {
	.container{max-width:96%;}
}

@media screen and (max-width: 979px) {
	.card{width:50%;}
}

@media screen and (max-width:599px) {
	.card_sec{flex-flow: column wrap;}
	.card, .tiles_f .card:first-child, .tiles_l .card:first-child, .tall .card{width:100%; height: 250px;}
	.sqr{border-bottom: 1px solid #eee; padding-bottom: 15px;}
	.search_pan{width: 98%; flex-flow: column wrap; height: 130px;}
	.search_pan .t_box{min-width:100%; width: 100%; margin-right: 0;}
	.s_btn{width: 100%; margin-top: 15px;}
	.foot-block h2{text-align: center;}
	.foot-block li a{display: block;}
	.foot-block h2::after{left: 50%; margin-left: -52px;}
	.foot-block > ul {margin: 0 auto; width: 70%;}
}
