.product-banner > .banner-link:hover {
    background-color: #0a0a0abd;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.cllr {
    height: 100vh;
    background-color: #9e7ec2;
}

a.btnnnn {
    background-color: #674172;
    color: white !important;
    border: 1px solid #674172 !important;
}

.bg {
    background-color: #fff;
    border-radius: 6%;
    margin: 10px;
}

#featuredSubmenuPanel .col-sm-12 {
    padding-left: 0px;
}

.navbar-default {
        border-color: unset !important;
        background-color: unset !important;
}

.navbar {
    border: unset !important;
}

.logis_SMEs_section {
    padding: 0px 0px 35px !important;
}

.how_it_work {
    padding: 30px 0px 0px;
}

.partnerImg {
    border-radius: 6% !important;
    object-fit: cover !important;
    height: 250px !important;
    /* margin: 10px; */
    display: block !important;
    margin: auto !important;
}

/*navbar for mobile css start*/
.navbar-for-mobile{
    display: none;
}
nav.navbar.navbar-default.navbar-for-mobile{
    background-color: #674172 !important;
    margin-bottom: 0px;
}
.navbar.navbar-default.navbar-for-mobile ul li {
    width: 100%;
    text-align: left;
}
.navbar-collapse.in {
    overflow-y: inherit;
}
.navbar.navbar-default.navbar-for-mobile span#unamepanel {

    float: left;
}
.left_menu .floating-cart {
    width: 100% !important;
}

.floating-cart {
    box-shadow: 0px 2px 11px 1px rgba(47, 24, 54, 0.6196078431372549);
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(45deg, #e0e0e0, white);
    padding: 12px;
}
.product-banner > .banner-link {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.nav-l {
    position: absolute;
    bottom: -15px;
    left: 1%;
}

.navbar-default {
    min-height: 84px;
}

.logis_SMEs_section .SMEs_info h2 {
    color: #333 !important;
    position: relative;
    padding-bottom: 10px;
    font-size: 23px;
}

.mbl {
    display: none;
}

.mbll p {
    display: none;
}

.slogan {
    display: none;
}
.logis_SMEs_section {
    padding: 35px 0px 35px !important;
}
@media only screen and (max-width: 1024px) {
    

    .slogan {
        display: none;
    }

    .logistics_pase .container {
        height: 418px !important;
    }

    .product-contant {
        width: 100% !important;
    }

    .product-contant > .product-block {
        width: 75% !important;
        margin: auto !important;
        display: block !important;
        border-right: 1px solid #ebebeb !important;
        float: right !important;
        border-left: 1px solid #ebebeb !important;
        overflow: hidden !important;
        position: relative !important;
    }

    .blue .product-contant .item-block .product-item {
        background-color: #fff !important;
        min-height: 209px !important;
        border: unset !important;
        border-bottom: 1px solid #eee !important;
        margin-bottom: 10px !important;
    }

    .products-row > .products-details {
        border-bottom: unset !important;
    }

    .blue .product-contant > .product-banner {
        width: 25% !important;
    }

    .product-contant > .product-banner::before {
        bottom: 0 !important;
    }

    .product-banner img {
        height: 460px !important;
    }
   .logistics_pase .banner_info {
        padding: 10% 0% 4.1%!important;
        padding-right: 4%!important;
    }
    .banner-block .customer_info {
        height: 135px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    @media only screen and (max-width: 768px) {

        .blue .product-banner > .banner-link a {
            color: #fff;
            padding: 10px;
            background: #0a0a0a94 !important;
            -webkit-appearance: none !important;
        }

    }

}

@media only screen and (max-width: 768px) {
    .blue .product-banner > .banner-link a {
        color: #fff;
        padding: 10px;
        background: #0a0a0a94 !important;
        -webkit-appearance: none !important;
    }

    .slogan {
        display: none;
    }
    
    .logistics_pase .container {
        height: 300px !important;
    }

    .how_it_work > .container {
        padding-right: unset !important;
        padding-left: unset !important;
    }
    .product-contant {
        width: 100% !important;
    }

    .product-contant > .product-block {
        width: 98% !important;
        margin: auto !important;
        display: block !important;
        border-right: 1px solid #ebebeb !important;
        float: unset !important;
        border-left: 1px solid #ebebeb !important;
        overflow: hidden !important;
        position: relative !important;
    }

    .blue .product-contant .item-block .product-item {
        background-color: #fff !important;
        min-height: 252px !important;
        border: unset !important;
        border-bottom: 1px solid #eee !important;
        margin-bottom: 10px !important;
    }

    /* .blue .product-contant .item-block .product-item:after {
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #eee !important;
    } */

    .products-row > .products-details {
        border-bottom: unset !important;
    }

    .product-contant > .product-banner {
        display: block !important;
        min-height: unset !important;
        float: unset !important;
        /* min-height: 431px; */
        overflow: visible !important;
        position: unset !important;
        width: 100% !important;
    }

    .product-contant > .product-banner::before {
        z-index: 9999 !important;
        bottom: -50px !important;
        background-color: unset !important;
    }

    .product.clearfix {
        margin-bottom: 6%;
    }
    
    .product-banner img {
        display: none !important;
    }

    .product-banner > .banner-link {
        z-index: 99999 !important;
        bottom: -8% !important;
        padding: 0px !important;
    }

    .blue .product-banner > .banner-link a {
        color: #fff;
        font-size: 15px;
    }


    .blue .product-contant > .product-banner {
        width: 100% !important;
    }

    .how_it_work {
        padding: 30px 0px 0px;
    }

    .logis_SMEs_section {
        padding: 0px 0px 0px;
        background-color: #eee;
    }
#adr {
     width: 100% !important;
}

#menu1 .card-body {
     overflow: scroll !important;
}

#menu2 .card-body {
     overflow: scroll !important;
}

.payment_form_design .nav.nav-tabs {
    overflow: auto !important;
    white-space: nowrap !important;
}

.nav-tabs > li {
    float: unset !important; 
    margin-bottom: -1px;
    display: inline-block;
}
.logistics_pase{
    padding-bottom: 11%!important;
}
.logistics_pase .banner_info {
    padding: 12% 0% 4.1%!important;
}
.customer_info div.custo_icon {

    left: 22%;
}
.customer_info div h4 {
    font-size: 14px;
}
.banner-block .customer_info {
    height: 149px!important;
}
}



@media only screen and (max-width: 500px) {

    .fll {
        display: none;
    }

    .flll p {
        display: none;
    }

    .mbl {
        display: block;
    }

    .mbll p {
        display: block;
    }

    .order_other_info {
        margin-top: 0px;
    }

    #order_details {
        padding: 0px 0px !important;
    }

    .custo_heading {
        width: 50%;
    }

    .pro_desc_info ul li p {
        width: 50% !important;
    }
    .custo_value {
        width: 50%;
    }
 
    .pro_desc_info ul li {
        display: flex;
        list-style: none;
        padding: 3px 0px;
    }
    .nav-l {
        display: none;
    }

    .navbar-header {
        min-height: 80px;
    }
    .slogan {
        display: block !important;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        top: 54px;
        font-size: 13px;
        right: 0;
        margin: 0;
        text-align: center;
        color: #777;
    }
    .new-nav-bar {
        position: fixed !important;
        width: 100% !important;
        top: 0 !important;
        z-index: 9999999 !important;
        background-color: #fff !important;
        box-shadow: 0px 3px 5px -3px #c5c5c5 !important;
    }

    .navbar-header a img {
        width: 125px !important;
        margin-top: 3px !important;
    }

    .navbar-toggle {
        margin-top: 16px !important;
    }

    .nab-bg {
        margin-top: 7px !important;
    }

    .logistics_pase {
        margin-top: 16% !important;
        padding-top: 0px !important;
    }

    .logistics_pase .container {
        height: 140px !important;
    }

    .products-row > .products-details {
        border-bottom: unset !important;
    }

    .blue .product-contant .item-block .product-item {
        background-color: #fff !important;
        min-height: 252px !important;
        border: unset !important;
        border-bottom: 1px solid #eee !important;
        margin-bottom: 10px !important;
    }

    .blue .product-contant .item-block .product-item:nth-last-child(-n+2) {
        margin-bottom: unset !important;
    }

    .product-contant > .product-banner {
        display: block !important;
        min-height: unset !important;
        float: unset !important;
        /* min-height: 431px; */
        overflow: visible !important;
        position: unset !important;
        width: 100% !important;
    }

    .product-contant > .product-banner::before {
        z-index: 9999 !important;
        bottom: -50px !important;
        background-color: unset !important;
    }

    .product.clearfix {
        margin-bottom: 15%;
    }
    .product-banner img {
        display: none !important;
    }

    .product-banner > .banner-link {
        z-index: 99999 !important;
        bottom: -6% !important;
        padding: 0px !important;
    }

    .blue .product-banner > .banner-link a {
        color: #fff;
        font-size: 15px;
    }


    .blue .product-contant > .product-banner {
        width: 100% !important;
    }

    .product-contant > .product-banner > a {
        /* display: none !important; */
    }

    .logis_SMEs_section {
        padding: 0px 0px 35px;
        background-color: #eee;
    }
    .logistics_pase {
        margin-top: 0%!important;
        padding-top: 7%!important;
    }
    .logistics_pase .logo_logistic img {
        width: 100%;
    }
    .banner_info h2 {
        font-size: 18px;
    }
    .delivery_made {
        padding: 105px 0 35px;
    }
    .logistics_pase .banner_info {
        padding: 2% 0% 0.1%!important;
    }



  }



  



  /* TWO */
  .categoryitems .imagepanel img {
      display: block !important;
      margin: auto !important;
  }

.logo-down-small{
    display: none;
}
/*=================================responsive css start======================================*/

@media screen and (max-width: 1024px) {

.right-wrapper {
    width: 60%;
}
.right-wrapper .search {
    width: 100%; 
}
.header-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}
.category_slider_img img {
    height: 216px;
}
.sub_category_slider .owl-buttons {
    width: 103%;
    left: -13px;
}


/*=========================foooter css=============================*/
.newsletter {
    padding-top: 0px;
}
}
@media screen and (max-width: 768px) {
.search .search-form {
    width: 100%;
    right: 15px;
}
.top-links a {
    padding-left: 4px;
    padding-right: 7px;
}
.top-links a {
    display: block;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 7px;
}
.category_slider_img img {
    height: 167px;
}
.sub_category_slider .owl-buttons {
    width: 106%;
    left: -21px;
}
.itempanel {
    height: 287px;
}
.categoryitems .imagepanel img {
    height: 130px;
}
.newsletter {
    padding-top: 8px;
}

.search .search-form {
    width: 100% !important;
}

.wb-block {
    margin-top: 10px !important;
    float: unset !important;
    width: 70% !important;
    display: inline-block !important;
}

.right-wrapper .cart {
    margin-top: 10px !important;
}

.payment_page {
    overflow: scroll !important;
}

.payment_page > .container > .row {
    overflow: scroll;
    margin-right: 5px;
    margin-left: 5px;
}



/*===================footer css=======================*/
.blue .es-link li a {

    font-size: 12px;
}
.blue .wrapper-footer h4 {
    font-size: 16px;
}

@media screen and (max-width: 500px) {
.qty .form-control {
   padding: 0px 7px 0px 0px !important;
    margin-right: 35px !important;
}

.top-links a i.fa-user {
margin-left: 8px;
}

.newCartItemTotal {
    position: relative !important; 
    top: unset !important;
    right: unset !important;
    border: 1px solid #fff;
    height: unset !important;
    width: unset !important; 
    padding: 4px 5px 3px 4px !important;
    text-align: center;
    font-size: 11px;
    color: #fff;
    background-color: green;
    border-radius: 50%;
    line-height: 15px;
}

.input-group-addon {
padding: 0px 3px !important;
}
   .navbar-for-mobile {
    display: block;
    min-height: 65px !important;
}
.navbar-for-mobile .navbar-header {
	min-height: 65px !important;
}
        #top-bar{
            display: none;
        }

.blue h4 {
font-size: 15px;
}

.container.clearfix > .logo {
    float: unset !important;
}
.bradecap ul li.viewsupplier{
    width: 100% !important;
    text-align: center !important;
}
.logo-down-large{
        display: none;
}
.logo-down-small{
    display: block;
}
.right-wrapper {
    width: 100%;
}
.row.group_category {
    padding-top: 8px;
    padding-bottom: 11px;
}
.bradecap ul li.viewsupplier {
    float: left;
}
.category_slider_img img {
    height: 135px;
}
.sub_category_slider .owl-buttons {
    width: 112%;
    left: -6%;
}
.itempanel {
     height: 401px; 
}
.categoryitems .imagepanel img {
    height: 258px;
}

.logo_dwn {
    position: absolute !important;
    top: 33% !important;
}

.right-wrapper {
    margin-top: 15px !important;
}

.payment_form_design {
    padding: 10px 0px !important;
}

.main-contant .nav-tabs {
white-space: nowrap !important;
    overflow: auto;
}



/*footer css*/
.sl-block {
    text-align: center !important;
    margin-top: 0px;
}   
.newsletter.download {
    text-align: center;
}
.wrapper-footer h4 {
    padding-top: 8px;
}
.newsletter {
    padding-top: 0px;
}
.col-xs-12.col-sm-6.col-md-6.col-lg-2.es-link {
    width: 100%;
}
}

@media screen and (max-width: 375px) {
.category_slider_img img {
    height: 120px;
}
/*foter css*/
.newsletter.download {
    text-align: center;
}
.wrapper-footer h4 {
    padding-top: 0px;
}
.sl-block {
  
    margin-top: 0px;
}
}
@media screen and (max-width: 360px) {
.category_slider_img img {
    height: 114px;
}


.owl-buttons {
   
    margin-top: -23px;
    }
    .owl-buttons .owl-prev, .owl-buttons .owl-next {
    width: 24px;
    height: 24px;
}
}


@media screen and (max-width: 320px) {

    .logo_dwn {
        top: 27% !important;
    }

}

  /* END TWO */




  /* PROFILE */
  #loggedInUserDD {
    z-index: 99999999 !important;
}

    .order_img img {
        height: unset !important;
        object-fit: unset !important;
        transition: all 0.5s ease-in-out;
    }

    .my_order_info {
        padding: 8px 0px !important;
    }

    .supplier_info p {
        width: 95% !important;
    }

    .accout_menu {
        float: left;
        display: unset !important;
        width: 100%;
        white-space: nowrap;
        overflow: auto;
    }

    .accout_menu::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    .accout_menu::-webkit-scrollbar:vertical {
        width: 12px;
    }
    
    .accout_menu::-webkit-scrollbar:horizontal {
        height: 3px;
    }
    
    .accout_menu::-webkit-scrollbar-thumb {
        background-color: rgb(99, 49, 133);
        border-radius: 10px;
        border: 2px solid rgb(99, 49, 133);
    }
    
    .accout_menu::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: #ffffff; 
    }

    
    #rfqDetailsInfo table.table::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    #rfqDetailsInfo table.table::-webkit-scrollbar:vertical {
        width: 12px;
    }
    
    #rfqDetailsInfo table.table::-webkit-scrollbar:horizontal {
        height: 3px;
    }
    
    #rfqDetailsInfo table.table::-webkit-scrollbar-thumb {
        background-color: rgb(99, 49, 133);
        border-radius: 10px;
        border: 2px solid rgb(99, 49, 133);
    }
    
    #rfqDetailsInfo table.table::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: #ffffff; 
    }


  .buyer_profile .update_pro_info p span {
        width: 30%;
        vertical-align: top;
    }

    .buyer_profile .update_pro_info p #buyerMobile {
        width: 70%;
    }

    .buyer_profile .update_pro_info p #buyerEmail {
        width: 70%;
    }

    .buyer_profile .update_pro_info p #buyerAccountType {
        width: 70%;
    }

    .buyer_profile .update_pro_info p #supplierAccountType {
        width: 70%;
    }

    .buyer_profile .update_pro_info p #suppliersubscriptionType {
        width: 70%;
    }
    
    .contact_info {
        width: 100% !important;
    }

    .contact_info p:first-child {
        text-align: unset !important;
        width: 40% !important;
    }

    .upload_photo_section .update_pro_img {
        width: 100%;
        border-radius: 0px;
        text-align: center;
    }

    .change_pass_form {
        width: 90%;
        margin: 0;
        padding: 19px 0 4px;
    }

    .Product_list .product_info div {
        position: absolute;
        display: flex;
        bottom: 0;
        width: 95%;
        padding-bottom: 15px;
    }

    .Product_list .product_info {
        padding: 10px;
        border: 1px solid #eee;
        min-height: 168px;
        width: 100%;
        position: relative;
    }

    .myrfq_page div#quotation_mess .rfq_img_list div.rfq_img {
        padding: 0px 2px !important;
        width: 23%;
        margin-right: 1%;
    }

    .myrfq_page .rfq_img_list div.rfq_img img {
        width: 100% !important;
    }

    

    @media screen and (max-width: 1024) {
        .offer {
            display: block;
        }

        textarea#item_desc_en {
            width: 100%!important;
        }
        textarea#item_desc_fr {
            width: 99%!important;
        }
        textarea#item_keywords {
            width: 100%!important;
        }
        textarea#delivery_available {
            width: 100%!important;
        }

        .browse_img_sec {
            width: 97%;
        }
    }

    @media screen and (max-width: 768px) {

        .myrfq_page .quotation_mess .Message_list_info .Message_list_info div:last-child {
            width: 85%;
            padding-left: 15px;
        }

        .top-links .dropdown-menu {
            min-width: 111px;
            z-index: 99999999 !important;
        }

        #rfqDetailsInfo table.table {
            overflow: auto;
        }
        div#rfqDetailsInfo div h5 {
            width: 100%;
            font-size: 12px;
        }
        .pay_title {
            width: 100%;
            padding-right: 1px;
        }

        .pay_value {
            width: 131px;
            color: #333;
            text-align: right;
        }

        .offer {
            display: block !important;
            margin-top: 0px !important
        }

        #item_desc_en {
            height: 130px !important;
        }

        #item_desc_fr {
            height: 130px !important;
        }

        .thum_img {
            width: 100% !important;
        }

        .wd {
            width: 100% !important;
        }

        .delivery_made_info ul li div {
            min-height: 200px;
            white-space: normal;
        }

        .banner-block {
            display: block;
        }

        

    }





    @media screen and (max-width: 500px) {
        #max_price {
            margin-bottom: 0px !important;
        }

        section.logistics_pase.safe_pay.bck {
            padding-bottom: 0px !important;
            /* padding-top: 86px !important; */
            margin-top: 83px !important;
        }

        .buyer_profile .view_edit {
            width: 25%;
        }

        .myrfq_page.my_enquery.my_order .box_wrap .back_color {
            padding-bottom: 0px !important;
        }

        .update_profile.buyer_profile .box_wrap .update_pro_info h4 {
            text-align: left !important; 
            padding-left: 10px;
        }

        .update_profile.buyer_profile .box_wrap .update_pro_info.back_color {
            padding-bottom: 0px !important;
        }

        

        .left_menu {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        #order_details {
            padding: 0px 0px !important;
        }

        .top-links .dropdown-menu {
            min-width: 111px;
            z-index: 999999 !important;
        }

        .modal-dialog {
            width: 90% !important;
        }

        section.update_profile .upload_photox {
            padding-left: 38% !important;
        }

        .my_profile .accout_menu a.positionright {
            float: unset !important;
        }

        .back_color {
            padding-bottom: 40px !important;
        }

        .box_wrap > .row > .col-md-12 > .update_pro_info.back_color {
            padding-bottom: 0px !important;
        }

        .buyer_profile .update_pro_info.back_color h4 {
            text-align: center !important;
            padding-left: 0px;
        }

        .buyer_profile .view_edit {
            position: absolute;
            width: 23%;
            text-align: unset !important;
            z-index: 99;
            top: -42px;
            right: 0px;
            left: unset;
        }

        .upload_photo_section .update_pro_img {
            width: 100%;
            border-radius: 0px;
            text-align: center;
        }

        .buyer_profile .view_edit a {
            padding: 5px 25px !important;
        }

        .change_pass_form_info div {
            width: 100%;
            margin-left: unset !important;
            text-align: center;
        }

        .change_pass_form {
            width: 100%;
        }

        .change_pass_form_info input {
            width: 100%;
        }

        .Change_email .traking ul {
            width: 100%;
        }

        .inquery_info {
            width: 100%;
        }

        .Change_password div button.btn_otp {
            background-color: rgba(211, 211, 211, 0.611764705882353);
            border-color: rgb(173, 171, 171);
            color: #333;
        }

        .change_pass_form_info p {
            width: 100% !important;
            display: block;
            text-align: unset !important; 
        }

        .change_pass_form_info {
            display: unset;
        }

        .verifi_email {
            margin-bottom: 7px !important;
        }

        .blue input {
            margin-bottom: 10px !important;
            border: unset;
        }

        .myrfq_page .quotation_mess .Message_list_info .Message_list_info div:last-child {
            width: 88%;
        }

        .myrfq_page .quotation_mess .Message_list_info .Message_list_info div.Message_list_info_img {
            width: 30px !important;
        }

        .myrfq_page .quotation_mess .Message_list_info .Message_list_info div.Message_list_info_img img {
            height: 24px;
        }

        .myrfq_page .quotation_mess .Message_list_info div div.name_date p {
            display: block !important;
        }

        .myrfq_page .quotation_mess .Message_list_info div div.name_date span {
            float: unset !important;
        }

        .prod .view_edit {
            position: absolute !important;
            width: 99% !important;
            text-align: right !important;
            z-index: 99 !important;
            top: -42px !important;
            right: 2px !important;
            left: 0px;
        }

        .myrfq_page .back_color {
            padding-bottom: 0px !important;
        }

        .my_enquery .back_color {
            padding-bottom: 0px !important;
        }

        .pay_heading.back_color {
            padding-bottom: 0px !important;
        }

        .pay_value {
            width: 131px;
            color: #333;
            text-align: right;
            margin-right: 13px;
        }

        .order_det_info .pay_title h5 {
            color: #848282;
            margin-left: 9px;
        }

        .order_other_info div h5 {
            width: 100%;
        }

        #rfqCreateDate {
            display: block;
            padding-left: 10%;
        }

        .Message_box_control {
            width: 100%;
            background-color: #f3f3f3;
            padding: 10px;
            height: 60vh;
            overflow: auto;
        }

        .Message_box {
            width: 100%;
            background-color: #fff;
            border: 1px solid #9c96966b;
            box-shadow: 0 0 5px 0 #B8B8B8;
            -webkit-box-shadow: 0 0 5px 0 #B8B8B8;
        }

        .Message_view_header .Message_list_img img {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin: 4px;
        }

        .Message_box_sec_info {
            float: left;
            width: 84%;
            padding-left: 5px;
            margin-top: 23px;
        }

        .Message_box_sec_img {
            width: 38px;
            float: left;
            vertical-align: top;
            margin-top: 23px;
        }

        .reply_section {
            margin-top: 15px;
        }

        .add_sec.group_box {
            border: 1px solid #f1f0f0;
            padding: 9px 0 10px !important;
            width: 97%;
            margin: 0 0 9px 6px;
            background-color: #f9f9f952;
        }
        .add_sec .back_color {
            padding-bottom: 0px !important;
        }
        .add_sec .group_box.browse_img_sec {
            width: 97%;
            margin: 0 0 9px 6px;
            margin-bottom: 10px!important;
        }
        .add_sec .input-group-addon, .input-group-btn {
            width: 10%;
            white-space: nowrap;
            vertical-align: middle;
        }
        .add_sec .blue input {
            margin-bottom: 0px !important;
            border: unset;
        }
        .add_sec .input-group {
            width: 100%;
        }
        .add_sec input#min_price {
            width: 100%;
            margin-bottom: 0px !important;
        }

        input[name="max_price"] {
            margin-bottom: 0px !important;
        }

        #fixed_price {
            margin-bottom: 0px !important;
        }

        .add_sec textarea#item_desc_en {
            height: 100px;
        }
        .add_sec textarea#item_desc_fr {
            height: 100px;
        }
        .add_sec span.select2.select2-container.select2-container--default {
            width: 100%!important;
        }

        .group_box {
                margin: 0 0 9px 6px;
        }

        .btn_browse.add_more {
            /* float: right !important; */
        }

        div#attribute_div a {
            float: right !important;
        }

        .add_sec .group_box .form-control {
            margin-bottom: 10px !important;
            border: 1px solid #bdb9b9;
        }

        .add_sec .group_box input {
            border: 1px solid #bdb9b9;
        }

        #varience_div .select2-container--default .select2-selection--multiple {
            border: 1px solid #bdb9b9;
        }

        .delivery_made_info {
            width: 100%;
            white-space: nowrap;
            overflow: auto;
        }

        .delivery_made_info::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        .delivery_made_info::-webkit-scrollbar:vertical {
            width: 12px;
        }
        
        .delivery_made_info::-webkit-scrollbar:horizontal {
            height: 3px;
        }
        
        .delivery_made_info::-webkit-scrollbar-thumb {
            background-color: rgb(99, 49, 133);
            border-radius: 10px;
            border: 2px solid rgb(99, 49, 133);
        }
        
        .delivery_made_info::-webkit-scrollbar-track {
            border-radius: 10px;  
            background-color: #eee; 
        }

        .banner-block.clearfix.logis_SMEs_section {
            /* margin-top: 120px; */
        }

        .logistics_pase {
            padding-bottom: 50%!important;
        }

        .customer_info div.custo_icon {
            left: 28%;
        }

        .customer_info div.custo_icon {
            top: -32px;
            padding: 18px 1px;
        }

        .customer_info div img {
            width: 45%;
        }
        
        .menu_log.text-right {
            text-align: unset !important;
        }

        .menu_log ul {
            padding-top: 0px;
        }

        .menu_log ul li a {
            font-size: 14px;
            padding: 5px 10px;
        }

        .menu_log ul li p {
            font-size: 14px;
            padding: 2px 10px 0px;
            border-radius: 18px;
        }

        .logis_coustomer_section .SMEs_info {
            margin-bottom: 20px;
        }

        .customer_info {
            margin: 25px 0;
        }

        .categoryitems:hover .infopanel{
            transition: all 0.9s ease-in-out;
            overflow: hidden;
            height: 75px;
            position: absolute;
            width: 95%;
            bottom: 71px;
            padding-right: 6px;
            background-color: #fff;
          }

          .hm {
            height: 235px !important;
          }

        

    }

    @media screen and (max-width: 400px) {

        .hm {
            height: 200px !important;
        }

        .buyer_profile .view_edit {
            width: 28%;
        }

        div#sendProposalDiv {
            right: unset;
            top: 34px;
            left: 85px;
        }

        .delivery_made_info ul li {
            display: inline-block;
            width: 27%;
            text-align: center;
            position: relative;
            vertical-align: top;
        }

        .menu_log.text-right {
            text-align: right !important;
        }

        .delivery_made {
            padding: 10px 0 35px;
        }

        .logistics_pase .banner_info {
            padding: 12% 0% 0.1%!important;
        }

        .banner_info p {
            padding: 15px 0px 35px;
        }

       

    }

    @media screen and (max-width: 375px) {

        #fixed_price {
            margin-bottom: 0px !important;
        }

        #max_price {
            margin-bottom: 0px !important;
        }

        .buyer_profile .view_edit {
            width: 30%;
        }

        .buyer_profile .update_pro_info p span {
            width: 30%;
            vertical-align: top;
            font-size: 10px;
        }

        .browse_img_sec div img {
            height: 100px;
        }

        .menu_log ul li a {
            font-size: 12px;
            padding: 5px 3px;
        }

        .menu_log ul li p {
            font-size: 12px;
            padding: 2px 7px 0px;
            border-radius: 18px;
        }     

        div#sendProposalDiv {
            right: unset;
            top: 34px;
            left: 100px;
        }
        
        .hm {
            height: 180px !important;
        }
        

    }

    @media screen and (max-width: 360px) {

        .hm {
            height: 174px !important;
        }

        
        .buyer_profile .view_edit {
            width: 33%;
        }

        .order_det_info .pay_title h5 {
            color: #848282;
            font-size: 12px;
        }

        .pay_title {
            width: 50%;
            padding-right: 1px;
        }

        .pay_value {
            width: 131px;
            color: #333;
            text-align: right;
        }

        #rfqCreateDate {
            display: block;
            padding-left: 12%;
        }

        .myrfq_page .Message_list {
            padding: 10px 0px;
        }

        .myrfq_page .quotation_mess .Message_list_info div.Message_list_info {
            padding: 15px 0px;
        }

        .myrfq_page .quotation_mess .Message_list_info .Message_list_info div.Message_list_info_img {
            width: 25px !important;
            height: 25px;
            position: relative;
            margin-left: 5px;
        }

        .myrfq_page .quotation_mess .Message_list_info .Message_list_info div.Message_list_info_img img {
            height: 19px;
            width: 17px;
            margin-top: 2px;
            position: absolute;
            top: 0;
        }

        .tab-content {
            margin-top: 25px;
        }

        div#sendProposalDiv {
            right: unset;
            top: 36px;
            left: 78px;
        }

         .browse_img_sec div img {
            height: 80px;
        }


    }

    @media screen and (max-width: 330px) {
        .buyer_profile .view_edit {
            width: 36%;
        }
    }




  /* END-PROFILE */