/**************************************************************
						Bootstrap override
**************************************************************/
.dropdown-menu {
    border: 1px solid #e4e4e4;
    border-radius: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    display: block;
    font-size: 13px;
    min-width: 160px;
    opacity: 0;
    padding: 0;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    z-index: 900;
}
.top-social-icons .dropdown-menu {
	min-width:inherit;
}
.open > .dropdown-menu, *:hover > .dropdown-menu {
    /* margin-top: -1px; */
    opacity: 1;
    visibility: visible;
}
.upsell .owl-buttons,
.aside  .owl-buttons,
.week-deal .owl-buttons {
  margin-top: 0;
  position: absolute;
  top: -32px;
  width:75px;
  right:5px;
}
.aside .owl-buttons {
  	bottom: inherit !important;
  	top: -43px;
  	width: 55px;
}
.aside.recent-comments .owl-buttons {
  	top: -32px;
  	right: 10px;
}
.aside.recent-post .owl-buttons {
  	top: -32px;
  	right: 10px;
}
.aside.compare .owl-buttons {
  	right:0px;
}
.upsell .owl-buttons .owl-prev, .upsell .owl-buttons .owl-next,
.aside .owl-buttons .owl-prev, .aside .owl-buttons .owl-next,
.week-deal .owl-buttons .owl-prev, .week-deal .owl-buttons .owl-next {
  height: 20px;
  line-height: 18px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 20px;
  border-radius:0px;
}
.e-v3 .blog-main .owl-buttons, 
.e-v3 .product .owl-buttons {
  background: #ff9c00;
  height: 43px;
  right: -15px;
  top: -43px;
  width: 95px;
}
.e-v3 .upsell-products .owl-buttons{
  background: #ff9c00;
  height: 43px;
  right: 0px;
  top: -43px;
  width: 95px;
}
.e-v3 .blog-main .owl-buttons{
	right:0px;
}
.e-v3 .owl-buttons .owl-prev, .e-v3 .owl-buttons .owl-next {
  border-radius: 0;
  height: 25px;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 25px;
}
.e-v3 .owl-buttons .owl-next {
  right:0px;
}
.e-v3 .owl-buttons .owl-prev {
  left:0px;
}
.e-v3 .slider .owl-buttons .owl-next {
  right:15px;
}
.e-v3 .slider .owl-buttons .owl-prev {
  left:15px;
}
.e-v3 .owl-pagination {
	margin-bottom: 12px;
  	text-align: center;
}
.e-v3 .owl-page {
  display: inline-block;
  padding: 0 5px;
}
.e-v3 .owl-page > span {
  	background: #666666;
  	display: inline-block;
  	height: 10px;
  	width: 10px;
}
.e-v3 .owl-page.active > span {
  	background: #26ae66;
}
.e-v3 .best-saller .owl-buttons {
  bottom: inherit !important;
  top: -34px;
  width: 55px;
  right:10px;
}
.e-v3 .upsell-products .owl-buttons .owl-prev,
.e-v3 .upsell-products .owl-buttons .owl-next,
.e-v3 .blog-main .owl-buttons .owl-prev,
.e-v3 .blog-main .owl-buttons .owl-next,
.e-v3 .product .owl-buttons .owl-prev,
.e-v3 .product .owl-buttons .owl-next{
	border-radius: 0;
	height: 25px;
	line-height: 24px;
	margin-top: -12px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 25px;
}
.e-v3 .upsell-products .owl-buttons .owl-prev,
.e-v3 .blog-main .owl-buttons .owl-prev,
.e-v3 .product .owl-buttons .owl-prev{
	left:15px;
}
.e-v3 .upsell-products .owl-buttons .owl-next,
.e-v3 .blog-main .owl-buttons .owl-next,
.e-v3 .product .owl-buttons .owl-next{
	right:15px;
}
.e-v3 .brand-main .owl-buttons .owl-prev {
  left: -50px;
}
.e-v3 .brand-main .owl-buttons .owl-next {
  right: -50px;
}
.e-v4 .category-inner.owl-carousel .owl-buttons .owl-prev {
  left: -50px;
}
.e-v4 .category-inner.owl-carousel .owl-buttons .owl-next {
  right: -50px;
}
.e-v4 ._v4 .owl-buttons {
	  margin-top: 0;
	  right: 0;
	  top: -72px;
	  width: 100px;
}
.e-v4 .aside .owl-buttons {
  	top: -70px;
  	width: 55px;
}
.e-v4 .upsell .owl-buttons{
  	top: -70px;
  	width:75px;
}

/* 2020-03-13 */

.item-name{
  font-size: 14px;
  padding: 12px 0;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  color: #633185;
  font-weight: 700;
}

.item-price{
  font-size: 14px;
  color: #ffa500;
  text-align: left;
  font-weight: bold;
}

.item-quantity{

}

.item-variance{

}


.shopping-cart-items li{
  border-bottom: none !important;
}

.floating-cart{
  box-shadow: 0px 2px 11px 1px #2f18369e;
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(45deg, #e0e0e0, white);
  padding: 12px;

}

.item-list{
  overflow-y: scroll;
  max-height: 350px;
}


.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
/* Just looks nicer */
.credit-card-box img {
    min-width: 180px;
}

.media-body{
  padding-left: 20px;
}