/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .partnerImg {
        border-radius: 6%;
        object-fit: cover;
        height: auto !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
        width: 100%;
    }

    .SMEs_info h2{
        margin-bottom: 15px;
    }

    .logistics_footer {
        text-align: center;
    }

    .sl-block{
        text-align: center !important;
        margin-top: 20px;
    }

    .navbar-default .navbar-brand{
        display:contents;
    }

    .nab-bg{
        background-color:white;
        box-shadow: 0px 7px 9px #e2e2e2;
        text-align: right;
        font-size: 15px !important;
        margin-top: 15px;
    }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .nab-bg{
     
        text-align: right;
        font-size: 15px;
        
    }

   
   
    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {

    .nab-bg{
        background-color:white;
        box-shadow: 0px 7px 9px #e2e2e2;
        text-align: right;
        font-size: 15px !important;
        margin-top: 15px;
    }
   
    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .nab-bg{
     
        text-align: right;
        font-size: 15px;
        
    }
    
    .nav-r, .nav-l{
        margin-top: 8px; 
     }
    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .nab-bg{
     
        text-align: right;
        font-size: 18px;
        
    }

    .nav-r, .nav-l{
        margin-top: 8px; 
     }
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .nab-bg{
     
        text-align: right;
        font-size: 18px;
        
    }

    .nav-r, .nav-l{
        margin-top: 8px; 
     }
    

}


.new-nav-bar{
    background-color:transparent;
    border:none;
}





.nav-r li{
    border-top: 1px solid #e5e5e5;
}

.new-nav-bar .navbar-header img{
    margin-left: 15px;
}